#
# We want to have this 'empty' directory when
# repo is cloned, so that we can create first project database file
# without creating this 'projs' directory manually.
#
# This .gitignore provides this 'empty' directory on checkout.
#
*
# Except this file
!.gitignore
