
{% extends 'fragview/base.html' %}


{% block content %}


<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }
  th {
    text-align: center;

  }

  td, th {
    border: 1px solid #f0f0f0;
    padding: 8px;
    height: 60px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }


  th {
      cursor: pointer;
  }
  .container {
    padding-left: 200px;
    max-width: 1440 !important;
    width: calc(100% - 75px) !important;
  }
    .btn-right {
            float:right !important;
  }
</style>
<h4>Manual processed data</h4>
<h6>Data processing available to incorporate</h6>


<div class="card">
        <div class="card-content">
            
            <div class="card-title">                
            </div>
           {{datasetsRuns | safe}}
        </div>
    </div>

<div class="card">
  <div class="card-content">      
      <div class="card-title">autoPROC
          {% comment %} <button class="btn btn-right" onClick="window.location.reload()">REFRESH</button> {% endcomment %}
      </div>
      <br>
      <table class="table bordered">
          <thead>
            <tr>
                <th>Source</th>
                <th>RUN</th>
                <th>INPUT FILE</th>
                <th>Output file</th>
                <th>Error file</th>
                <th>HTML report</th>
                <th>TIME</th>
                <th>DATE</th>        
                <th>SELECT</th>        
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Automatic</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-small" /></td>                
              </tr>               
          </tbody>
      </table>
  </div>
</div>
<div class="card">
  <div class="card-content">      
      <div class="card-title">XIA2/DIALS
          {% comment %} <button class="btn btn-right" onClick="window.location.reload()">REFRESH</button> {% endcomment %}
      </div>
      <br>
      <table class="table bordered">
          <thead>
            <tr>
                <th>Source</th>
                <th>RUN</th>
                <th>INPUT FILE</th>
                <th>Output file</th>
                <th>Error file</th>
                <th>HTML report</th>
                <th>TIME</th>
                <th>DATE</th>      
                <th>SELECT</th>          
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Automatic</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>            
                <td><button class="btn-small" /></td>             
    
              </tr>                
          </tbody>
      </table>
  </div>
</div>
<div class="card">
  <div class="card-content">      
      <div class="card-title">XIA2/XDS-XSCALE
          {% comment %} <button class="btn btn-right" onClick="window.location.reload()">REFRESH</button> {% endcomment %}
      </div>
      <br>
      <table class="table bordered">
          <thead>
           <tr>
                <th>Source</th>
                <th>RUN</th>
                <th>INPUT FILE</th>
                <th>Output file</th>
                <th>Error file</th>
                <th>HTML report</th>
                <th>TIME</th>
                <th>DATE</th>                
                <th>SELECT</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Automatic</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>   
                <td><button class="btn-small" /></td>             
              </tr>                 
          </tbody>
      </table>
  </div>
</div>
<div class="card">
  <div class="card-content">      
      <div class="card-title">XDSAPP
          {% comment %} <button class="btn btn-right" onClick="window.location.reload()">REFRESH</button> {% endcomment %}
      </div>
      <br>
      <table class="table bordered">
          <thead>
           <tr>
                <th>Source</th>
                <th>RUN</th>
                <th>INPUT FILE</th>
                <th>Output file</th>
                <th>Error file</th>
                <th>HTML report</th>
                <th>TIME</th>
                <th>DATE</th>          
                <th>SELECT</th>      
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Automatic</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>   
                <td><button class="btn-small" /></td>             
              </tr>             
          </tbody>
      </table>
  </div>
</div>


{% endblock %}