
{% extends 'fragview/base.html' %}

{% load static %}
{% block title %}FragMAX - Project details{% endblock %}
{% block content %}

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }
  th {
    text-align: center;

  }

  td, th {
    border: 1px solid #f0f0f0;
    padding: 8px;
      height: 60px;

  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }

  .container {
    padding-left: 250px;
    max-width: 1280 !important;
    width: calc(100% - 75px) !important;
}
 .section-title{
     padding-top: 40px;
 }
</style>
<h4>PDB export tool</h4>
<h6>Datasets will be prepared for data deposition using your Project details</h6>


<div class="card">
        <div class="card-content">

            <div class="card-title section-title">Select data to export</div><br>
            Selection for datasets
            <form action="" method="get" id="saveBtn" name="saveBtnf" size="1">
                <button class="btn-large " style="margin-top: 30px;" type="submit" onsubmit="" value="Save" name="Save_button" size="1" disabled>Submit</button>
            </form>
        </div>
    <script>
        var input = document.getElementById("userInput");

    </script>
{% endblock %}

