
{% extends 'fragview/base.html' %}

{% block title %}FragMAX - HPC Status{% endblock %}
{% block content %}


<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }
  th {
    text-align: center;

  }

  td, th {
    border: 1px solid #f0f0f0;
    padding: 8px;
    height: 60px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }


  th {
      cursor: pointer;
  }
  .container {
    padding-left: 200px;
    max-width: 1440 !important;
    width: calc(100% - 75px) !important;
  }
    .btn-right {
            float:right !important;
  }
</style>
<h4>MAX IV HPC Status</h4>



<div class="card">
        <div class="card-content">
            
            <div class="card-title">HPC Status for user: guslim
                <button class="btn btn-right" onClick="window.location.reload()">REFRESH</button>
            </div>
            <br>
            <table class="table bordered">
                <thead>
                <tr>
                    <th>JOB ID</th>
                    <th>PARTITION</th>
                    <th>NAME</th>
                    <th>USER</th>
                    <th>ST  </th>
                    <th>TIME</th>
                    <th>NODES</th>
                    <th>NODELIST(REASON)</th>       
                    <th>Software</th>                          
                    <th>Output file</th>             
                    <th>Error file</th>             
                    <th>Kill Job</th>             
                </tr>
                </thead>
                <tbody>
                    {{command | safe}}                
                </tbody>
            </table>
        </div>
    </div>

<div class="card">
        <div class="card-content">
            
            <div class="card-title">HPC Workload manager for user: guslim
            </div>
            <br>
            <table class="table bordered">
                <thead>
                <tr>
                    <th>JOB ID</th>
                    <th>JOB NAME</th>
                    <th>PARTITION</th>
                    <th>ACCOUNT</th>
                    <th>ALLOC CPUS</th>
                    <th>STATE  </th>
                    <th>EXIT CODE</th>
                    
                </tr>
                </thead>
                <tbody>
                    {{history | safe}}                
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}