
{% extends 'fragview/base.html' %}

{% block title %}FragMAX - HPC Status{% endblock %}

{% block content %}


<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }
  th {
    text-align: center;

  }

  td, th {
    border: 1px solid #f0f0f0;
    padding: 8px;
    height: 60px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }


  th {
      cursor: pointer;
  }
  .container {
    padding-left: 250px;
    max-width: 1440 !important;
    width: calc(100% - 75px) !important;
  }
    .btn-right {
            float:right !important;
  }
button.link {
	font-family: "Verdana" sans-serif;
	font-size: 1.1em;
	text-align: left;
	color: #039be5;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}
</style>
<h4>MAX IV HPC Status</h4>



<div class="card">
  <div class="card-content">      
      <div class="card-title">HPC Status for user: {{user}}
          <br>Proposal: {{proposal}}
          <br><a href="/jobhistory" target="_blank">Job History</a>
          <button class="btn btn-right" onClick="window.location.reload()">REFRESH</button>
      </div>
      <br>
      <table class="table bordered">
          <thead>
          <tr>
              <th>JOB ID</th>
              <th>PARTITION</th>
              <th>NAME</th>
              <th>USER</th>
              <th>ST  </th>
              <th>TIME</th>
              <th>NODES</th>
              <th>NODE</th>       
                                      
              <th>Output file</th>             
              <th>Error file</th>             
              <th>Kill Job</th>             
          </tr>
          </thead>
          <tbody>          
          {% for jobid,partition,name,user,ST,TIME,NODE,NODEname,StdERR,StdOUT in hpcList %} 
            {% if StdERR != "None" %}

            <tr>
              <td>{{jobid}}</td>
              <td>{{partition}}</td>
              <td>{{name}}</td>
              <td>{{user}}</td>
              <td>{{ST}}</td>
              <td>{{TIME}}</td>
              <td>{{NODE}}</td>
              <td>{{NODEname}}</td>
              <td><a href="{{StdOUT}} " target="blank"> job_{{jobid}}.out</a></td>
              <td><a href="{{StdERR}} " target="blank"> job_{{jobid}}.err</a></td>

              <td>
                <form action="/hpcstatus_jobkilled/" method="get" id="kill_job_{{jobid}}">
                    <button class="btn-small" type="submit" value="{{jobid}}" name="jobid_kill" size="1">Kill</button>
                </form>
              </td>
            </tr>
            {% endif %}
          {% endfor %}
          </tbody>
      </table>
  </div>
</div>
{% endblock %}