
{% extends 'fragview/base.html' %}

{% load static %}
{% block title %}FragMAX - Home{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<style>
.center {
    display: block;
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.text-head{
    position: absolute;
    bottom: 20px;
    left: 300px;
}
</style>
<div style="padding-left:200px">
<h4 class="text-head">FragMAX Project Manager WebApp</h4>
<img src="{% static 'img/logo.svg' %}" class="center"></img>



<a onclick="openTXT()" href="javascript:void(0);"><p>README.txt</p></a>



<div>

<script>
function openTXT(){
    var win = window.open("", "LogWindow", "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=500,width=1400,height=800")
    win.document.write('<iframe src="/static/biomax/20180479/20190330/fragmax/scripts/pandda_worker.py" frameborder="0" height="100%"width="100%"></iframe>')
}
</script>


{% endblock %}

