
{% extends 'fragview/base.html' %}

{% block title %}FragMAX - HPC Job History{% endblock %}

{% block content %}


<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }
  th {
    text-align: center;

  }

  td, th {
    border: 1px solid #f0f0f0;
    padding: 8px;
    height: 60px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }


  th {
      cursor: pointer;
  }
  .container {
    padding-left: 250px;
    max-width: 1440 !important;
    width: calc(100% - 75px) !important;
  }
    .btn-right {
            float:right !important;
  }
button.link {
	font-family: "Verdana" sans-serif;
	font-size: 1.1em;
	text-align: left;
	color: #039be5;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}
</style>
<h4>MAX IV HPC Job History</h4>

<div class="card">
  <div class="card-content">
      <div class="card-title">Job History</div>
      <br>
      <table class="table bordered">
          <thead>
          <tr>
              <th>LOG FILE</th>
              <th>JOB ID</th>
              <th>DATE</th>
              <th>Output file</th>
              <th>Error file</th>
          </tr>
          </thead>
          <tbody>
          {% for logName,jID,cDate,out,err in logHistory %}

            <tr>
              <td>{{logName}}</td>
              <td>{{jID}}</td>
              <td>{{cDate}}</td>

              <td><form action="/log_viewer/" method="get" id="logFileform" target="_blank">
                    <button  class="link" type="submit" value="{{out}}" name="logFile" size="1" >output File</button>
                </form></td>
              <td><form action="/log_viewer/" method="get" id="logFileform" target="_blank">
                    <button  class="link" type="submit" value="{{err}}" name="logFile" size="1" >error File</button>
                </form></td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>
</div>
<script>
const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

// do the work...
document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
    const table = th.closest('table');
    Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
        .forEach(tr => table.appendChild(tr) );
})));

</script>
{% endblock %}