
{% extends 'fragview/base.html' %}

{% block title %}FragMAX - Library view{% endblock %}

{% block content %}
<script src="/static/libs/3Dmol-min.js"></script>
<style>

.ligpng {
    height: 100%;
    width: 100%;
  }

body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  width: 90% !important;
}

.row {
    padding-left: 250px;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  -ms-flex: auto;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.grid-row a {
  text-decoration: none;
}

.wrapping-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  color: currentColor;
}

.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  position: relative;
}

.grid-item-container {
  height: 100%;
  width: 280px;
  position: relative;
}

.fragID {
    text-align: center;
}

.fragSMILES {
    text-align: center;
}
.mol-container {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 2;
}
</style>
<h4>{{project.library.name}} Library</h4>
<div class="card ">
    <h5>Update your library definitions</h5>

            <form id="library_update_form"
                  enctype="multipart/form-data"
                  action="/project/update_library"
                  method="post">
                {% csrf_token %}
                <table class="table bordered">

                    <tr>
                        <th>Library Fragments</th>
                        <td>
                            <input class="frags_file" id="fragments_file" type="file" name="fragments_file"
                                   value="{{ form.fragments_file.value }}"

                                   {% if not project_id %}
                                   {# don't require for existing project, otherwise we can't delete them #}
                                   required
                                   {% endif %}>
                            <div class="err_msg">{{ form.fragments_file.errors }}</div>
                        </td>
                    </tr>
                </table>
                <button class="btn-large" type="submit" name="action" value="update_library" style="margin: 5px 0px 5px 40%;">UPDATE</button>
            </form>
</div>

<div class="container">
  <div class="grid-row">
    {% for fragment_name, fragment_smiles in project_fragments.items %}

            <div class="grid-item">
<!--             -->
              <div class="card grid-item-wrapper">
                <div class="grid-item-container">
                    <table>
                        <tr>
                          <td class="fragID"><h5>{{ fragment_name }}</h5></td>
                      </tr>
                      <tr>
                        <td>
                            <div id="container-{{ fragment_name }}" class="mol-container" >
                                <input class="ligpng" type="image"
                                       src="/fragment/{{ fragment_name }}/image" onclick="load{{ fragment_name }}()" />
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="fragSMILES">{{fragment_smiles}}</td>
                      </tr>

                    </table>

                </div>
              </div>

            </div>

    {% endfor %}

  </div>
</div>

<script>
  let config = { backgroundColor: '0xffffff' };
{% for fragment_name, fragment_smiles in project_fragments.items %}
function load{{fragment_name}}(){
  let element{{fragment_name}} = $('#container-{{fragment_name}}');
  let viewer{{fragment_name}} = $3Dmol.createViewer( element{{fragment_name}}, config );
  let pdbUri{{fragment_name}} = '{{data_path}}/fragmax/fragments/{{fragment_name}}.pdb';
  jQuery.ajax( pdbUri{{fragment_name}}, {
    success: function(data) {
      let v = viewer{{fragment_name}};
      v.addModel( data, "pdb" );                       /* load data */
      v.setStyle({}, {stick: {}});  /* style all atoms */
      v.zoomTo();                                      /* set camera */
      v.render();                                      /* render scene */
      v.zoom(1.0, 1000);                               /* slight zoom */
    },
    error: function(hdr, status, err) {
      console.error( "Failed to load PDB " + pdbUri{{fragment_name}} + ": " + err );
    },
  });
  }
  {% endfor %}
</script>
{% endblock %}

