{% extends 'fragview/base.html' %}
{% block title %}FragMAX - PanDDA results{% endblock %}

{% block content %}
{% load static %}

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }

  th {
    text-align: center;
    height: 50px;
  }

  td {
    height: 100px;
  }

  td,
  th {
    border: 1px solid #f0f0f0;
    padding: 15px !important;
    vertical-align: middle !important;
  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }

  tr td:nth-child(n+2) {
    text-align: center !important;
  }

  tr th:nth-child(n+2) {
    text-align: center !important;
  }

  th {
    cursor: pointer;
  }

  .container {
    max-width: 100% !important;
    margin: 0 50px 50px 150px !important;
    width: 100% !important;
    display: contents;
  }

  .col-md-8 {
    width: 100% !important;
  }

  label {
    font-size: 1.2rem !important;
  }

  a:hover {
    text-decoration: none !important;
  }

  .selectbox {
    width: 250px;
    display: inline-block;
    margin-left: 165px;
    margin-top: 15px;
  }

  .selectbutton {
    width: 100px;
    display: inline-block;
    margin-left: 25px;
  }

  button.link {
    font-family: "Verdana"sans-serif;
    font-size: 1.1em;
    text-align: left;
    color: #039be5;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    margin-left: 300px;
    max-width: 80%;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }


  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #fea901;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    margin-left: 300px;
    max-width: 80%;
    padding: 6px 12px;
  }

  .top-bar {
    margin-left: 135px;
  }

  .dendrograms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .dendrograms img {
    max-width: 100%;
  }
</style>

<div class="top-bar">
  <select class="selectbox input-sm" name="dropdownDataset" onchange="method_changed(this)">
    {% for meth in available_methods %}
    <option value='{{meth}}' {% if method == meth %}selected{% endif %}>
      {{meth}}
    </option>
    {% endfor %}

  </select>
</div>

<div id="analysis_tabs" class="card tab">
  {% for date in reports.report_dates %}
  <button class="tablinks" onclick="load_analysis(this, '{{method}}', '{{date}}')">
    {{date}}
  </button>
  {% endfor %}
  <button class="tablinks" onclick="load_selected_datasets(this)">
    Selected datasets
  </button>
</div>

<div id="html-analyses" class="card tabcontent">
  <div class="alert alert-info" style="margin-top: 6px;">
    <h4>Copy and paste this command line in your terminal to start inspection in coot:</h4>
    <h5 id="method-command">{{reports.coot_command}}</h5>
  </div>

  {# placeholder for analysis report HTML, fetched dynamically #}
  <div id="html-analysis-report"></div>

  <form method="get" id="delete-analyses">
    <button class="btn" type="submit" size="1">
      Delete analyses
    </button>
  </form>
</div>

<div id="html-selected-datasets" class="card tabcontent">
  <div class="card dendrograms">
    {% for dendrogram in reports.dendrogram %}
      <figure style="max-width: 50%;">
        <img src="/pandda/cluster/{{method}}/{{dendrogram}}/image">
        <figcaption>{{dendrogram}}</figcaption>
      </figure>
    {% endfor %}
  </div>

  <div>
  {% for dataset, pdb in reports.selected_datasets %}
  <table>
    <tr>
      <td>{{dataset}}</td>
      <td>{{pdb}}</td>
    </tr>
  </table>
  {% endfor %}
  </div>
</div>

<script>

function method_changed(dropdown)
{
    let selected = dropdown.selectedOptions[0];
    window.location.href = `/pandda_analyse/${selected.value}`;
}

function show_tab(tab_button, tab_id)
{
    $(".tablinks").removeClass("active");
    tab_button.classList.add("active");

    $(".tabcontent").hide();
    $(`#${tab_id}`).show();
}

function load_analysis(tab, method, date)
{
    $.ajax(`/pandda/analysis/report/${method}/${date}`)
    .done(function(reply)
    {
        $("#html-analysis-report").html(reply);
        $("#delete-analyses").attr("action", `/pandda/analysis/delete/${method}/${date}`);
        show_tab(tab, "html-analyses");
    })
    .fail(function(reply)
    {
        alert(`error loading analysis: ${reply.responseText}`);
    });
}

function load_selected_datasets(tab)
{
    show_tab(tab, "html-selected-datasets");
}

function load_most_recent_analysis()
{
    /* simulate a click on the fist analysis tab button */
    let first_tab = $("#analysis_tabs").children()[0];
    first_tab.click();
}

$(document).ready(function()
{
    load_most_recent_analysis();
});
</script>
{% endblock %}