
{% extends 'fragview/base.html' %}

{% block title %}FragMAX - PanDDA inspect{% endblock %}


{% block content %}


<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;

    }
    th {
      text-align: center;
      height: 50px;
    }
    td{
      height: 100px;
    }
    td, th {
      border: 1px solid #f0f0f0;
      padding: 15px !important;
      vertical-align: middle !important;
    }
    
    tr:nth-child(even) {
      background-color: #e2e2e2;
    }

    tr td:nth-child(n+2) {
      text-align: center !important;
    }
    tr th:nth-child(n+2) {
      text-align: center !important;
    }
    {% comment %} th {
        cursor: pointer;
    } {% endcomment %}

  .container {
      max-width: 100% !important;
      margin: 0 50px 50px 150px !important;
      width: calc(100% - 200px) !important;
  }
  .col-md-8 {
  width: 100% !important;
  }
  label {
    font-size: 1.2rem !important;
    }
  a:hover {
    text-decoration: none !important;
  }
.selectbox{
    width: 250px;
    display: inline-block;
    margin-top: 15px;
    right: 195px;
    top: 66px;
    position: absolute;
    
  }
  .selectbutton{
    width: 100px;
    display: inline-block;
    right: 40px;
    top: 40px;
    position: absolute;
    }
    .updatebutton{
    width: 100px;
    margin-left: 20px;
    }
  .selectmethods{
    
    display:inline-flex;
    margin-left: 175px;   
    } 
    [type="checkbox"] + span:not(.lever){
      font-size: 1.4rem !important;
    }
</style>

<select class="selectbox " name="dropdownDataset" onchange="GetSelectedTextValue(this)">
  <option disabled selected value> -- select an option -- </option>
  <option value='panddaSelect'>Consensus</option>    

  {% for method in proc_methods %}
  <option value='{{method}}'>{{method}}</option>    
  {% endfor %} 
</select>
<form class="selectbutton" action="/pandda_inspect/" method="get" id="opentest" name="opentest" size="1" >
  <button class="btn-small selectbutton " type="submit"  value="panddaSelect" name="methods" size="1">Load</button>
</form>

<div class="selectmethods">
  <form id="procFilters" >
    <div class="checkbox" style="font-size:20px" id="refmethod">
      <label>
          <input id="useAP" name="useAP" type="checkbox" class="filled-in dt-checkboxes" value="autoproc" onchange="updateCheck(this)">
          <span for="useAP">autoPROC</span>
      </label>
      <label>
          <input id="useXA" name="useXA" type="checkbox" class="filled-in dt-checkboxes" value="xdsapp" onchange="updateCheck(this)">
          <span for="useXA">XDSAPP</span>
      </label>
      <label>
          <input id="useDI" name="useDI" type="checkbox" class="filled-in dt-checkboxes" value="dials" onchange="updateCheck(this)">
          <span for="useDI">XIA2/DIALS</span>
      </label>
      <label>
          <input id="useXD" name="useXD" type="checkbox" class="filled-in dt-checkboxes" value="xdsxscale" onchange="updateCheck(this)">
          <span for="useXD">XIA2/XDS</span>
      </label>
      <label>
          <input id="useED" name="useED" type="checkbox" class="filled-in dt-checkboxes" value="EDNA_proc" onchange="updateCheck(this)">
          <span for="useED">EDNA_proc</span>
      </label>
      <label>
          <input id="useFD" name="useFD" type="checkbox" class="filled-in dt-checkboxes" value="fastdp" onchange="updateCheck(this)">
          <span for="useFD">fastdp</span>
      </label>
    </div>

    <div class="checkbox" style="font-size:20px" id="refmethod">
      <label>
          <input id="useBU" name="useBU" type="checkbox" class="filled-in dt-checkboxes" value="autoproc" onchange="updateCheck(this)">
          <span for="useBU">BUSTER</span>
      </label>
      <label style="padding-left: 33px;">
          <input id="useDP" name="useDP" type="checkbox" class="filled-in dt-checkboxes" value="xdsapp" onchange="updateCheck(this)">
          <span for="useDP">Dimple</span>
      </label>
      <label style="padding-left: 30px;">
          <input id="useFS" name="useFS" type="checkbox" class="filled-in dt-checkboxes" value="dials" onchange="updateCheck(this)">
          <span for="useFS">FSPipeline</span>
      </label>
        
    </div>
    <form class="updatebutton" action="/pandda_inspect/" method="get" id="updateFilter" name="updateFilter" size="1" >
      <button class="btn-small updatebutton " type="submit" onsubmit="return update_pandda()" value="noFilter" name="filterForm" size="1">Filter</button>
    </form>


  </form> 
</div>

{{Report |safe}}


<script>

function GetSelectedTextValue(dropdownDataset) {
    var selectedText = dropdownDataset.options[dropdownDataset.selectedIndex].innerHTML;
    var selectedValue = dropdownDataset.value;
    document.getElementsByName("methods")[0].value = selectedValue;
}

function updateCheck() {
  var AP=String(document.getElementById("useAP").checked)
  var DI=String(document.getElementById("useDI").checked)
  var FD=String(document.getElementById("useFD").checked)
  var ED=String(document.getElementById("useED").checked)
  var XD=String(document.getElementById("useXD").checked)
  var XA=String(document.getElementById("useXA").checked)
  var BU=String(document.getElementById("useBU").checked)
  var DP=String(document.getElementById("useDP").checked)
  var FS=String(document.getElementById("useFS").checked)

  var filters=AP+";"+DI+";"+FD+";"+ED+";"+XD+";"+XA+";"+BU+";"+DP+";"+FS       
  
  document.getElementsByName("filterForm")[0].value = filters
}


document.getElementById("useAP").checked={{autoproc}}
document.getElementById("useDI").checked={{dials}}
document.getElementById("useFD").checked={{fastdp}}
document.getElementById("useED").checked={{edna}}
document.getElementById("useXD").checked={{xdsxscale}}
document.getElementById("useXA").checked={{xdsapp}}
document.getElementById("useBU").checked={{buster}}
document.getElementById("useDP").checked={{dimple}}
document.getElementById("useFS").checked={{fspipeline}}




</script>
{% endblock %}