
{% extends 'fragview/base.html' %}

{% block title %}Norrsken - PanDDA maps viewer{% endblock %}
{% block content %}

<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="theme-color" content="#333333">
  <style>
   body { font-family: sans-serif; }
   canvas { 
     display: flex; 
     }
   #viewer {
     position: absolute;
     left: 550px;
     top: 100px;
     width: calc(100% - 550px);
     height: calc(100% - 100px);
   }
   
   #help {
     display: none;
     font-size: 16px;
     color: #eee;
     background-color: rgba(0,0,0,0.7);
     position: absolute;
     left: 550px;
     top: 50%;
     transform: translateY(-50%);
     cursor: default;
     padding: 5px;
     border-radius: 5px;
     z-index: 9;
     white-space: pre-line;
   }
   #left-controlpanel {
     font-size: 16px;
     background-color: rgba(0,0,0,0.1);
     position: absolute;
     left: 265px;
     top: 100px;     
     width: 270px;
     cursor: default;
     padding: 5px;
     border-radius: 5px;
     z-index: 9;
   }
   #hud u { padding: 0 8px; text-decoration: none;
            border: solid; border-width: 1px 0; }
   #hud s { padding: 0 8px; text-decoration: none; opacity: 0.5; }
   #inset {
     width: 200px;
     height: 200px;
     background-color: #888;
     position: absolute;
     right: 0;
     bottom: 0;
     z-index: 2;
     display: none;
   }
   a { color: #59C; }
  </style>

  <script src="/static/libs/uglymol.js"></script>

</head>
<body style="background-color: white">

  
    <h5>Showing results for: {{dataset }} {{method}}. Check the <a href="/static/{{summary}}" target="_blank">analysis summary</a></h5>
    
    
    
    <div id="left-controlpanel" >
      
      
      <div style="padding-left:15px !important;">
        <div>
          <h6>Structure navigation</h6>
        </div>
        <div style="display:flex">
        <form action="/pandda_densityC/" method="get" id="pandda_form"><button class="btn" type="submit" value="{{prevstr}}" name="structure" size="1">Previous</button></form>        
        <form action="/pandda_densityC/" method="get" id="pandda_form" style="padding-left:5px"><button class="btn" type="submit" value="{{nextstr}}" name="structure" size="1">Next</button></form>
        </div>
      </div>
      <div style="padding-top:10px !important;padding-left:15px !important;padding-right:15px !important">
        <table>
          
          <tr>
            <th>Resolution
            </th>
            <td>{{resolution}} Å
            </td>
          </tr>
          <tr>
            <th>Rwork
            </th>
            <td>{{rwork}}
            </td>
          </tr>
          <tr>
            <th>Rfree
            </th>
            <td>{{rfree}}
            </td>
          </tr>          
          <tr>
            <th>Spacegroup
            </th>
            <td>{{spg}}
            </td>
          </tr>
          <tr>
            <th>1-BDC
            </th>
            <td>{{bdc}}
            </td>
          </tr>
          <tr>
            <th>Comments
            </th>
            <td>{{comment}}
            </td>
          </tr>
          <tr>
            <th>Site
            </th>
            <td>{{siten}}
            </td>
          </tr>
          <tr>
            <th>Event
            </th>
            <td>{{event}}
            </td>
          </tr>
        </table>
      </div>

      <div style="padding-top: 30px; padding-left:15px !important;">
        
        <h6>Load dataset or mtz</h6>

        <div style="display:flex">
          <div style="padding-top:10px"><input  class="btn-small" type="button" value="Next mdld"  ></input> </div>
          <div style="padding-top:10px;padding-left:5px"><input  class="btn-small" type="button" value="Avg  map"  ></input> </div>
        </div>
        <div style="display:flex">
          <div style="padding-top:10px"><input  class="btn-small" type="button" value="Input mtz "  ></input> </div>
          <div style="padding-top:10px;padding-left:5px"><input  class="btn-small" type="button" value="Unfitted"  ></input> </div>
        </div>
      </div>

      <div style="padding-left:15px !important; padding-top:30px !important;">
        <div class="col s12 required inline" id="event_marker">
          <div class="radio" id="event_mark"><label>
              <input class="with-gap" id="interesting_radio" name="ref_type" type="radio" value="interesting" >
              <span class="item-label" for="interesting_radio">Event interesting</span>
          </label></div>
          
          <div class="radio" id="event_mark"><label>
              <input class="with-gap" id="notinteresting_radio" name="ref_type" type="radio" value="notinteresting">
              <span class="item-label" for="notinteresting_radio">Event not interesting</span>
          </label></div>
          
        </div> 
      </div> 

      <div style="padding-left:15px !important; padding-top:60px !important;">
        <div class="col s12 required inline" id="ligand_modelled">
          <div class="radio" id="ligand_placed"><label>
              <input class="with-gap" id="lig_radio" name="lig_placed" type="radio" value="placed" >
              <span class="item-label" for="lig_radio">Ligand placed</span>
          </label></div>
          
          <div class="radio" id="ligand_placed"><label>
              <input class="with-gap" id="nolig_radio" name="lig_placed" type="radio" value="notplaced">
              <span class="item-label" for="nolig_radio">No ligand placed</span>
          </label></div>
          
        </div> 
      </div> 


      <div style="padding-left:15px !important;padding-top:60px !important;">
        <div class="col s12 required inline" id="model_confidence">
          <div class="radio" id="conf_level"><label>
              <input class="with-gap" id="high_conf_radio" name="model_conf" type="radio" value="high" >
              <span class="item-label" for="high_conf_radio">High confidence</span>
          </label></div>
          
          <div class="radio" id="conf_level"><label>
              <input class="with-gap" id="medium_conf_radio" name="model_conf" type="radio" value="medium">
              <span class="item-label" for="medium_conf_radio">Medium confidence</span>
          </label></div>
          
          <div class="radio" id="conf_level"><label>
              <input class="with-gap" id="low_conf_radio" name="model_conf" type="radio" value="low">
              <span class="item-label" for="low_conf_radio">Low confidence</span>
          </label></div>
        </div> 
      </div> 

      <div style="padding-left:15px !important; padding-top:90px !important;">    
          <div>
            <h6>Expected ligand</h6>
          </div>
      <img class="ligpng" id="ligand" src="/static/biomax/{{proposal}}/{{shift}}/fragmax/process/fragment/{{fraglib}}/{{ligand}}/{{ligand}}.svg" >
      </div>
    </div>



    <div style="display:flex;">
    {% comment %} <div ><input class="btn " type="button" value="Previous blob" onclick="return previousblob()" ></input> </div>
    <div style="padding-left:20px !important;"><input class="btn" type="button" value="Next blob" onclick="return nextblob()" ></input> </div> {% endcomment %}
    <div style="padding-left:20px !important; padding-top:7px !important">
      <header id="hud">Electron density viewer. Press H for help.</header>
    </div>
    </div>

    
    <div id="viewer"></div>

    <footer id="help"></footer>
    <div id="inset"></div>

    <script>
      V = new UM.Viewer({viewer: "viewer", hud: "hud", help: "help"});
      
      V.load_pdb("/static/{{pdb}}",null, function(){
          V.recenter({{center}}, null, 25);
      });
      V.load_ccp4_maps("/static/{{2fofc}}","/static/{{fofc}}");

      document.getElementById('{{interesting}}').checked = true;
      document.getElementById('{{ligplaced}}'  ).checked = true;
      document.getElementById('{{ligconfid}}'  ).checked = true;


  </script>
</body>
</html>


{% endblock %}