
{% extends 'fragview/base.html' %}

{% block title %}FragMAX - PanDDA results{% endblock %}
{% block content %}


<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;

    }
    th {
      text-align: center;
      height: 50px;
    }
    td{
      height: 100px;
    }
    td, th {
      border: 1px solid #f0f0f0;
      padding: 15px !important;
    }
    
    tr:nth-child(even) {
      background-color: #e2e2e2;
    }

    tr td:nth-child(n+2) {
      text-align: center !important;
    }
    tr th:nth-child(n+2) {
      text-align: center !important;
    }
    th {
        cursor: pointer;
    }

  .container {
      max-width: 100% !important;
      margin: 0 50px 50px 150px !important;
      width: calc(100% - 200px) !important;
  }
  .col-md-8 {
  width: 100% !important;
  }
  label {
    font-size: 1.2rem !important;
    }
  a:hover {
    text-decoration: none !important;
  }

</style>
<div style="padding-left:310px"> <h5>PanDDA not ready yet</h5></div>
<div style="padding-left:310px">
  <form action="/pandda_notready/" method="get" id="runPanDDAfolderid" name="runPanDDAfoldername" size="1" >
        <button class="btn-large maxivorange" type="submit" onsubmit="return submit_panndafolder()" value="runpanddafolderinput" name="runpanddafolderform" size="1">Prepare folder structure</button>
    </form>
    <form action="/pandda_notready/" method="get" id="runPanDDAmissingid" name="runPanDDAmissing" size="1" >
        <button class="btn-large maxivorange" type="submit" onsubmit="return submit_pandda()" value="runmisreflpanddainput" name="missingreflform" size="1">Populate missing reflections</button>
    </form>
    <form action="/pandda_notready/" method="get" id="runPanDDAid" name="runPanDDAname" size="1" >
        <button class="btn-large maxivorange" type="submit" onsubmit="return submit_pandda()" value="runpanddainput" name="runpanddaform" size="1">Run PanDDA</button>
    </form>

    {{panddafolder|safe}}
</div>



{% endblock %}