{% extends 'fragview/base.html' %}

{% block title %}FragMAX - PanDDA results{% endblock %}


{% block content %}
{% load static %}

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }

  th {
    text-align: center;
    height: 50px;
  }

  td {
    height: 100px;
  }

  td,
  th {
    border: 1px solid #f0f0f0;
    padding: 15px !important;
    vertical-align: middle !important;
  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }

  tr td:nth-child(n+2) {
    text-align: center !important;
  }

  tr th:nth-child(n+2) {
    text-align: center !important;
  }



  th {
    cursor: pointer;
  }


  .container {
    max-width: 100% !important;
    margin: 0 50px 50px 150px !important;
    width: 100% !important;
    display: contents;
  }

  .col-md-8 {
    width: 100% !important;
  }

  label {
    font-size: 1.2rem !important;
  }

  a:hover {
    text-decoration: none !important;
  }

  .selectbox {
    width: 250px;
    display: inline-block;
    margin-left: 165px;
    margin-top: 15px;
  }

  .selectbutton {
    width: 100px;
    display: inline-block;
    margin-left: 25px;
  }

  button.link {
    font-family: "Verdana"sans-serif;
    font-size: 1.1em;
    text-align: left;
    color: #039be5;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    margin-left: 300px;
    max-width: 80%;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }


  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #fea901;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    margin-left: 300px;
    max-width: 80%;
    padding: 6px 12px;
  }

  .top-bar {
    margin-left: 135px;
  }

  .dendrograms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .dendrograms img {
    max-width: 100%;
  }
</style>
<div class="top-bar">
  <select class="selectbox input-sm" name="dropdownDataset" onchange="GetSelectedTextValue(this)">
    <option disabled selected value> -- select an option -- </option>
    {% for method in proc_methods %}
    <option value='{{method}}'>{{method}}</option>
    {% endfor %}
  </select>
  <form class="selectbutton" action="/pandda_analyse/" method="get" id="opentest" name="opentest" size="1" hidden>
    <button class="btn-small selectbutton " id="change_report" type="submit" onsubmit="return select_pandda()"
      value="panddaSelect" name="methods" size="1">Load</button>
  </form>

</div>
<div class="card tab">
  {% for analyses_date, analyses_path in alternatives.items %}
  <button class="tablinks" onclick="openMethod(event, 'html-{{analyses_date}}')" id="{{analyses_date}}"
    name="analysis-tabs">{{analyses_date}}</button>
  {% endfor %}
  <button class="tablinks" onclick="openMethod(event, 'html-selected-datasets')">Selected
    datasets</button>
</div>
{% for analyses_date, opencmd, Report in reports %}
<div id="html-{{analyses_date}}" class="card tabcontent ">

  {% if not Report == "noreport" %}
  {% if opencmd != "initial" %}
  <div class="alert alert-info" style="margin-top: 6px;">
    <h4>Copy and paste this command line in your terminal to start inspection in coot:</h4>
    <h5>module load gopresto CCP4/7.0.072-SHELX-ARP-8.0-0a-PReSTO; cd {{opencmd}}</h5>
    <form action="/log_viewer/" method="get" id="logFileform" target="_blank">
      <button class="btn" type="submit" value="{{pandda_res}}/pandda/logs/pandda-{{analyses_date}}.log" name="logFile"
        size="1">Open analyses log</button>
    </form>

  </div>
  {% endif %}
  {{Report |safe}}
  {% else %}
  <div class="alert alert-info">
    <h4>No results for this method</h4>
  </div>
  {% endif %}
  <form action="/pandda_analyse/" method="get" id="delete-analyses">
    <button class="btn" type="submit" value="{{pandda_res}}/pandda/logs/pandda-{{analyses_date}}.log"
      name="delete-analyses" size="1">Delete analyses</button>
  </form>
</div>
{% endfor %}
<div id="html-selected-datasets" class="card tabcontent ">
  {% if clusters_png %}
  <div class="card dendrograms">
    {% for key,value in clusters_png.items %}
    <figure style="max-width: 50%;">
      <img src="{{value}}">
      <figcaption>{{key}}</figcaption>
    </figure>
    {% endfor %}
  </div>
  {% endif %}
  {{selection_table|safe}}

</div>



<script>
  function GetSelectedTextValue(dropdownDataset) {
    var selectedText = dropdownDataset.options[dropdownDataset.selectedIndex].innerHTML;
    var selectedValue = dropdownDataset.value;
    document.getElementsByName("methods")[0].value = selectedValue;
    document.getElementById("change_report").click();
  }
</script>
<script>
  function openMethod(evt, methodName) {
    if (document.getElementById(methodName).style.display == "block") {
      document.getElementById(methodName).style.display = "none"
      evt.currentTarget.className = evt.currentTarget.className.replace(" active", '');
    } else {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(methodName).style.display = "block";
      evt.currentTarget.className += " active";
    }
  }
  document.getElementsByName("analysis-tabs")[0].click();
</script>
{% endblock %}