
{% extends 'fragview/base.html' %}

{% block title %}FragMAX - Giant PanDDa{% endblock %}


{% block content %}


<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;

    }
    th {
      text-align: center;
      height: 50px;
    }
    td{
      height: 100px;
    }
    td, th {
      border: 1px solid #f0f0f0;
      padding: 15px !important;
      vertical-align: middle !important;
    }
    
    tr:nth-child(even) {
      background-color: #e2e2e2;
    }

    tr td:nth-child(n+2) {
      text-align: center !important;
    }
    tr th:nth-child(n+2) {
      text-align: center !important;
    }
    {% comment %} th {
        cursor: pointer;
    } {% endcomment %}

  .container {
      max-width: 100% !important;
      margin: 0 50px 50px 150px !important;
      width: calc(100% - 200px) !important;
  }
  .col-md-8 {
  width: 100% !important;
  }
  label {
    font-size: 1.2rem !important;
    }
  a:hover {
    text-decoration: none !important;
  }
  .selectbox{
    width: 250px;
    display:inline-block;
    margin-left: 165px;
    margin-top: 15px;
  }
  .selectbutton{
    width: 100px;
    display:inline-block;
    margin-left: 25px;   
    }

    /* Style the tab */
    .tab {
        overflow: hidden;

        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }



    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #82be00;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
    }
    .card_options {
      padding-left: 150px;
      padding-top: 15px;
    }

</style>

<div class=" card_options">
    <div class="card tab">
        {% for key, value in scores_plots.items %}
          <button class="tablinks" onclick="openMethod(event, '{{key}}')">{{ key }}</button>
        {% endfor %}
        
        <button class="tablinks" onclick="openMethod(event, 'Hide')">Hide Plots</button>
    </div>

    
    {% for key, value in scores_plots.items %}
          
          <div id="{{key}}" class="card tabcontent">        
              {{ value | safe  }}
          </div>
        {% endfor %}
    
    <div id="Hide" >
    </div>
</div>

 



<script>
    function openMethod(evt, methodName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(methodName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
{% endblock %}