{% extends 'fragview/base.html' %}

{% load static %}
{% block title %}FragMAX - PanDDA{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<style>
    td, th {
        padding: 5px 5px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;
        font-size: 12px;
        font-size: 0.85vw;
    }
    .top-options {
        font-size: 15px !important;
    }
    .flex-center {
        margin-left:10px; 
        max-width:750px;     
        width: 33%
    }
    .content {
        margin: auto !important;
        max-width: 100% !important;
        width: 100% !important;
    }
    .card-content-left{
        padding: 24px 24px 38px 24px !important;
    }
    .card-content-right{
        padding: 24px 24px 28px 24px !important;
    }
    .card_options {
        padding-left: 310px  !important;

        max-width: calc(100% - 50px)  !important;
        {% comment %} min-width: 1600px; {% endcomment %}
    }
    .flexdiv_options {
        display: flex;
        padding-left: 40px;
    }
    .flex-left {
        max-width:750px; 
        width: 33%
    }
    .flex-right {
        margin-left:10px;    
        max-width:750px; 
        width: 33%
    }    

    .selectbox {
        display: flex !important; 
    }
    .optionstable {
        border-collapse: separate;
        border-spacing: 0;
    }
    
    .bottom-right    {
        right: 30;
        bottom: 20;
        position: absolute;        
    }
    .btn-right {
        float:right !important;
    }
    .maxivorange {
        background-color: #fea901;
    }
    .custompar {
        background-color: #f0f0f0;
    }
    .card-title {
        display:inline-flex !important;
    }
    
</style>



<div >
    <h5 style="padding-left:310px;" > PanDDA </h5>
    
</div>


<div class="card_options">
    <div class="flexdiv_options card ">
        <div class="flex-left">
            <div>
                <div class="card-content card-content-left">
                    <div class="card-title">Dataset selection</div>
                    <table class="optionstable" > 
                        <col width="8%">
                        <col width="17%">
                        <tbody>
                        
                <tr>
                    <th class=" top-options">Processing</th>
                    <td class=" top-options">
                        <div class="col s12 required inline" id="processing_method">
                            <div class="radio" id="dataproc_type"><label>
                                <input class="with-gap" id="xdsapp_radio" name="proc_type" type="radio" value="xdsapp" checked="checked">
                                <span class="item-label" for="xdsapp_radio">XDSAPP</span>
                            </label></div>
                            <div class="radio" id="dataproc_type"><label>
                                <input class="with-gap" id="autoproc_radio" name="proc_type" type="radio" value="autoproc">
                                <span class="item-label" for="autoproc_radio">autoPROC</span>
                            </label></div>
                            <div class="radio" id="dataproc_type"><label>
                                <input class="with-gap" id="dials_radio" name="proc_type" type="radio" value="dials">
                                <span class="item-label" for="dials_radio">XIA2/DIALS</span>
                            </label></div>
                            <div class="radio" id="dataproc_type"><label>
                                <input class="with-gap" id="xdsxscale_radio" name="proc_type" type="radio" value="xdsxscale">
                                <span class="item-label" for="xdsxscale_radio">XIA2/XDS</span>
                            </label></div>
                            <div class="radio" id="dataproc_type"><label>
                                <input class="with-gap" id="edna_proc_radio" name="proc_type" type="radio" value="EDNA">
                                <span class="item-label" for="edna_proc_radio">EDNA_proc</span>
                            </label></div> 
                            <div class="radio" id="dataproc_type"><label>
                                <input class="with-gap" id="fastdp_radio" name="proc_type" type="radio" value="fastdp">
                                <span class="item-label" for="fastdp_radio">fastdp</span>
                            </label></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class=" top-options">Refinement</th>
                    <td class=" top-options">
                        <div class="col s12 required inline" id="refinement_method">
                            <div class="radio" id="dataref_type"><label>
                                <input class="with-gap" id="dimple_radio" name="ref_type" type="radio" value="dimple" checked="checked">
                                <span class="item-label" for="dimple_radio">Dimple</span>
                            </label></div>
                            <div class="radio" id="dataref_type"><label>
                                <input class="with-gap" id="fspipeline_radio" name="ref_type" type="radio" value="fspipeline">
                                <span class="item-label" for="fspipeline_radio">FSpipeline</span>
                            </label></div>
                            <div class="radio" id="dataref_type"><label>
                                <input class="with-gap" id="buster_radio" name="ref_type" type="radio" value="buster">
                                <span class="item-label" for="buster_radio">BUSTER</span>
                            </label></div>
                        </div> 
                    </td>
                </tr>
                <tr>
                    <th class=" top-options">Complete results<sup>1</sup></th>
                    <td class=" top-options">
                        <select class="selectbox" name="compdatasets">
                            <option disabled value="true"> -- select an option -- </option>
                            <option selected value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <th class=" top-options">Ground state build</th>
                    <td class=" top-options">
                    <form id="groundstate" >
                            <div class="checkbox" id="groundStateModel">
                            <label>
                                <input id="apoGS" name="apoGS" type="checkbox" class="filled-in dt-checkboxes" value="apoGS" checked>
                                <span for="apoGS">Use known Apo</span>
                            </label>
                            </div>
                            <div class="checkbox" id="dmsoGScheck" >
                            <label>
                                <input id="dmsoGS" name="dmsoGS" type="checkbox" class="filled-in dt-checkboxes" value="dmsoGS" checked>
                                <span for="dmsoGS">Use DMSO datasets</span>
                            </label>
                            </div>
                            
                            <div class="checkbox" id="cryoGScheck">
                            <label>
                                <input id="cryoGS" name="cryoGS" type="checkbox" class="filled-in dt-checkboxes" value="cryoGS" checked>
                                <span for="cryoGS">Use cryo datasets</span>
                            </label>
                            </div>
                    </form> 
                    </td>
                </tr>
                <tr class="custompar">
                    <th class=" top-options">Custom parameters</th>
                    <td class=" top-options"><input class="selectbox" name="customdataproc" placeholder="default: None"></input> </td>
                </tr>
                

                </tbody>

                </table>
            </div>

        </div>
    </div>

    <div class="flex-center">
        <div>

            <div class="card-content card-content-left">
                <div class="card-title">PanDDA analyse options</div>
                <table class="optionstable">
                    <col width="8%">
                    <col width="17%">
                    <tbody>
            
            <tr>
                <th class=" top-options">Fill missing reflections with CAD</th>
                <td class=" top-options">
                   <select class="selectbox" id="use_CAD" name="use_CAD">
                        <option disabled value="yes"> -- select an option -- </option>
                        <option selected value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </td>
            </tr>   
            <tr>
                <th class=" top-options">Refine populated MTZ</th>
                <td class=" top-options">
                   <select class="selectbox" id="refine_popMTZ" name="refine_popMTZ">
                        <option disabled value="no"> -- select an option -- </option>
                        <option selected value="phenixRefine">Phenix.Refine</option>
                        <option value="refmac">Refmac</option>
                        <option value="no">No</option>
                    </select>
                </td>
            </tr>  
              
            <tr>
                <th class=" top-options">Options</th>
                <td class=" top-options">
                    <form id="preprocessOptions" >
                            <div class="checkbox" id="ignoreErrcheck">
                            <label>
                                <input id="ignoreErr" name="ignoreErr" type="checkbox" class="filled-in dt-checkboxes" value="ignoreErr" checked>
                                <span for="ignoreErr">Auto remove dataset with problems</span>
                            </label>
                            </div>
                            <div class="checkbox" id="keepupcheck" >
                            <label>
                                <input id="keepup" name="keepup" type="checkbox" class="filled-in dt-checkboxes" value="keepup">
                                <span for="keepup">Continue last analysis</span>
                            </label>
                            </div>
                            
                            <div class="checkbox" id="fixsymcheck">
                            <label>
                                <input id="fixsym" name="fixsym" type="checkbox" class="filled-in dt-checkboxes" value="fixsym">
                                <span for="fixsym">Ignore symlink issues</span>
                            </label>
                            </div>
                    </form> 
                </td>
            </tr>
            
            <tr class="custompar">
                <th class=" top-options">Custom parameters</th>
                <td class=" top-options"><input class="selectbox" name="custombuster" placeholder="default: None"></input> </td>
            </tr>
            
            </tbody>

            </table>
        </div>

    </div>
</div>


<div class="flex-right">
    <div>
        <div class="card-content card-content-right">
            <div class="card-title">Giant PanDDA</div>
            <table class="optionstable">
                <col width="8%">
                <col width="17%">
                <tbody>
        
        
        <tr>
            <th class=" top-options">Fit ligand in all sites</th>
            <td class=" top-options"><input class="selectbox" name="allclusters" placeholder="default: False"></input></td>
        <tr>
        
        <tr>
            <th class=" top-options">Post refine to solution</th>
            <td class=" top-options">
                <select class="selectbox" name="postrefine">                    
                    <option selected value>No</option>             
                    <option value="postquick">Quick</option>
                    <option value="poststandard">Standard</option>
                    <option value="postthorough">Thorough</option>
                </select>
            </td>
        <tr>
        
        <tr class="custompar">
            <th class=" top-options">Custom parameters</th>
            <td class=" top-options"><input class="selectbox" name="customrhofit" placeholder="default: None"></input> </td>
        </tr>
        

        </tbody>
        </table>
    </div>
</div>

</div>

<div class="bottom-right">
     <form action="/submit_pandda/" method="get" id="sendpandda" name="sendpandda" size="1" target="_blank">
        <button class="btn-large maxivorange" type="submit" onsubmit="return panddasetup()" value="pipedreamInput" name="panddaform" size="1">Run PanDDA</button>
    </form> 
    

</div>
</div>

</div>

<div >
    <h5 style="padding-left:310px;" > Giant PanDDA </h5>
    
</div>


<div class="card_options">
    <div class="flexdiv_options card ">
        <div class="flex-left">
            <div>
                <div class="card-content card-content-left">
                    <table class="optionstable" > 
                        <col width="8%">
                        <col width="17%">
                        <tbody>
                        
                <tr>
                    <th class=" top-options">Available inspects</th>
                    <td class=" top-options">
                    <select class="selectbox" id="use_CAD" name="use_CAD">
                            <option disabled selected value="yes"> -- select an option -- </option>
                            {% for method in methods %}
                            <option value="{{method}}">{{method}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>  

                <tr>
                    <th class=" top-options">Make restraints</sup></th>
                    <td class=" top-options">
                        <form id="groundstate" >
                            <div class="checkbox" id="makerestraints">
                            <label>
                                <input id="allRestraint" name="allRestraint" type="checkbox" class="filled-in dt-checkboxes" value="allRestraint" checked>
                                <span for="allRestraint">Create all restraints</span>
                            </label>
                            </div>
                            <div class="checkbox" id="resnames" >
                            <label>
                                <input class="selectbox" name="resnames" placeholder="default: XXX"></input>
                            </label>
                            </div>
                            
                    </form> 
                    </td>
                </tr>
                
                <tr>
                    <th class=" top-options">Quick refine</sup></th>
                    <td class=" top-options">
                        <div style="display:flex">
                            <select class="selectbox" name="compdatasets" disabled>
                                <option selected disabled value="true"> -- PDB1 -- </option>
                                <option value="true">pdbmodel</option>
                                <option value="false">None</option>
                            </select>
                            <select class="selectbox" name="compdatasets" disabled>
                                <option selected disabled value="true"> -- MTZ1 -- </option>
                                <option value="true">mtzfile</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div style="display:flex">
                            <select class="selectbox" name="compdatasets" disabled>
                                <option selected disabled value="true"> -- PDB2 -- </option>
                                <option value="true">pdbmodel</option>
                                <option value="false">No</option>
                            </select>
                            <select class="selectbox" name="compdatasets" disabled>
                                <option selected disabled value="true"> -- MTZ2 -- </option>
                                <option value="true">mtzfile</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </td>
                </tr>
                
                

                </tbody>

                </table>
            </div>

        </div>
    </div>

    <div class="flex-center">
        <div>

            <div class="card-content card-content-left">
                <table class="optionstable">
                    <col width="8%">
                    <col width="17%">
                    <tbody>
            
            <tr>
                <th class=" top-options">Split conformations</th>
                <td class=" top-options">
                   <div class="col s12 required inline" id="splitConfs">                            
                            <div class="radio" id="confref_type"><label>
                                <input class="with-gap" id="refmacradio" name="confproc_type" type="radio" value="refmac">
                                <span class="item-label" for="refmacradio">Refmac refine</span>
                            </label></div>
                            <div class="radio" id="confref_type"><label>
                                <input class="with-gap" id="phenixradio" name="confproc_type" type="radio" value="phenix">
                                <span class="item-label" for="phenixradio">Phenix refine</span>
                            </label></div>
                            <div class="radio" id="confref_type"><label>
                                <input class="with-gap" id="manualradio" name="confproc_type" type="radio" value="manual">
                                <span class="item-label" for="manualradio">Manual refine</span>
                            </label></div>
                            <div class="radio" id="confref_type"><label>
                                <input class="with-gap" id="norefineradio" name="confproc_type" type="radio" value="none" checked="checked">
                                <span class="item-label" for="norefineradio">No refine</span>
                            </label></div>                             
                        </div>
                </td>
            </tr>   
            <tr>
                <th class=" top-options">Dataset cluster</th>
                <td class=" top-options">
                   <select class="selectbox" id="datasetCluster" name="datasetCluster" disabled>
                        <option selected disabled value="no"> -- select an option -- </option>
                        <option value="Yes">Yes</option>                        
                        <option value="no">No</option>
                    </select>
                </td>
            </tr>  
              
            <tr>
            <th class=" top-options">Score models</th>
            <td class=" top-options">
                <select class="selectbox" name="giantscore">                    
                    <option selected value="Yes">Yes</option>             
                    <option value="No">No</option>
                </select>
            </td>
        <tr>
            
            </tbody>

            </table>
        </div>

    </div>
</div>



<div class="bottom-right">
     <form action="/submit_pandda/" method="get" id="sendpandda" name="sendpandda" size="1" target="_blank">
        <button class="btn-large maxivorange" type="submit" onsubmit="return panddasetup()" value="pipedreamInput" name="panddaform" size="1" disabled>Run Giant PanDDA</button>
    </form> 
    

</div>
</div>

<h6>More information can be found at: <a href="https://pandda.bitbucket.io/manual.html" target="_blank">PanDDA Manual</a></h6>
<h7><sup>1</sup>This option will take datasets from other pipeline combinations to fill the missing results, e.g. No processing with autoproc_dimple is available for the dataset X. The webapp will try to find results for dataset X from xdsapp_dimple, dials_fspipeline or other.</h7> 

<script>

var f = document.getElementById("sendpandda");
    
    f.onsubmit = function panddasetup(){

        var proc_type = document.querySelector('input[name="proc_type"]:checked').value;
        var ref_type  = document.querySelector('input[name="ref_type"]:checked').value;
        
        var complete  = document.getElementsByName("compdatasets")[0].value;

        var use_apo  = document.getElementById("apoGS").checked
        var use_dmso = document.getElementById("dmsoGS").checked
        var use_cryo = document.getElementById("cryoGS").checked
        
        var use_CAD  = document.getElementById("use_CAD").value 
        var ref_CAD  = document.getElementById("refine_popMTZ").value 
        
        var ign_errordts = document.getElementById("ignoreErr").checked
        var keepup_last  = document.getElementById("keepup").checked
        var ign_symlink  = document.getElementById("fixsym").checked        
        
        var out = proc_type+";"+ref_type+";"+complete+";"+use_apo+";"+use_dmso+";"+use_cryo+";"+use_CAD+";"+ref_CAD+";"+ign_errordts+";"+keepup_last+";"+ign_symlink
        document.getElementsByName("panddaform")[0].value = out

}

</script>
{% endblock %}