{% extends 'fragview/base.html' %}

{% block title %}FragMAX - {{pdb.filename}}{% endblock %}
{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    text-align: center;
}

.container {
    padding-left: 200px;
    max-width: 1180 !important;
    width: calc(100% - 75px) !important;
}

.prechoice {
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
}

.pdb_info {
    display:block;
    margin: 12px 0 12px 0;
}
</style>

<script>
function confirm_delete()
{
   let pdb_desc = "{{pdb.filename}}";
   {% if pdb.pdb_id %}
       pdb_desc = pdb_desc + "({{pdb.pdb_id}})";
   {% endif %}

   return confirm("Are you sure you want to delete '" + pdb_desc + "' protein model?");
}

$(document).ready(function()
{
    $("#delete_button").click(confirm_delete);
});
</script>

<h4>PDB Protein Model</h4><br>

<div class="card">
    <div class="card-content">
            <form id="project_form" action="/pdb/{{pdb.id}}" method="post">
                {% csrf_token %}
                <table class="table bordered">
                    <tbody>

                    <tr>
                        <th>Model Filename</th>
                        <td><span class="pdb_info">{{pdb.filename}}</span></td>
                    </tr>
                    <tr>
                        <th>PDB ID</th>
                        <td><span class="pdb_info">{{pdb.pdb_id}}</span></td>
                    </tr>

                    </tbody>
                </table>

                <div class="prechoice" >
                    <div>
                        <button class="btn-large" id="delete_button" type="submit">
                            delete
                        </button>
                    </div>

                    <div style="padding-left: 40px;">
                        <button class="btn-large" type="button" onclick="location.href='/pdbs'">cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

