{% extends 'fragview/base.html' %}

{% load static %}
{% block title %}FragMAX - Pipedream{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<style>
    td, th {
        padding: 5px 5px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;
        font-size: 12px;
        font-size: 0.85vw;
    }
    .top-options {
        font-size: 15px !important;
    }
    .content {
        margin: auto !important;
        max-width: 100% !important;
        width: 100% !important;
    }
    .card-content-left{
        padding: 24px 24px 38px 24px !important;
    }
    .card-content-right{
        padding: 24px 24px 28px 24px !important;
    }
    .card_options {
        padding-left: 310px  !important;

        max-width: calc(100% - 50px)  !important;
        {% comment %} min-width: 1600px; {% endcomment %}
    }
    .flexdiv {
        display: flex;
        padding-left: 300px;
        max-width: calc(100% - 50px)  !important;

        {% comment %} max-width: 2455px !important; {% endcomment %}
    }
    .flexdiv_options {
        display: flex;
        padding-left: 40px;
    }
    .flex-left {
        max-width:750px; 
        width: 33%
    }
    .flex-right {
        margin-left:10px;    
        max-width:750px; 
        width: 33%
    }    
    .flex-center {
        margin-left:10px; 
        max-width:750px;     
        width: 33%
    }

    .flexdiv_snapshot {
        display: flex;
    }


    .selectbox {
        display: flex !important; 
    }
    .datasetbox{
        max-width: 350px;
        margin-left: 16px;
    }
    .optionstable {
        border-collapse: separate;
        border-spacing: 0;
    }
    .tableSoak {
        border-collapse: separate;
        border-spacing: 0;
        width: 100% !important;

    }
    .tableInfo {
        width: 100% !important;
    }
    
    .bottom-right    {
        right: 30;
        bottom: 20;
        position: absolute;        
    }
    .btn-right {
        float:right !important;
    }
    .maxivorange {
        background-color: #fea901;
    }
    .custompar {
        background-color: #f0f0f0;
    }
    .ligpng {
        height: 95px;
    }
    .card-title {
        display:inline-flex !important;
    }
</style>



<div >
    <h5 style="padding-left:310px;" > Pipedream </h5>
    <div style="display:flex; padding-left:310px; ">
        <h6 >Select dataset for Pipedream</h6>
        <select class="selectbox datasetbox" name="dropdownDataset">
            <option disabled selected value> -- select a dataset -- </option>
            <option value="alldatasets"> Process ALL datasets </option>
            {% for datasetPath,datasetName in data %}
            <option value={{datasetPath}}>{{datasetName}}</option>    
            {% endfor %}                                    
        </select>    

    </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<div class="card_options">
    <div class="flexdiv_options card ">
        <div class="flex-left">
            <div>
                <div class="card-content card-content-left">
                    <div class="card-title">autoPROC options</div>
                    <table class="optionstable" > 
                        <col width="8%">
                        <col width="17%">
                        <tbody>
                            
                <tr>
                    <th class=" top-options">Space group</th>
                    <td class=" top-options">
                        <input class="selectbox" name="spacegroup" placeholder="P43212"></input>
                    </td>
                </tr>

                <tr>
                    <th class=" top-options">Cell parameters</th>
                    <td class=" top-options"><input class="selectbox" name="cellparameters" placeholder="(a, b, c, α, β, γ)"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">StarANISO</th>
                    <td class=" top-options">
                        <select class="selectbox" name="staraniso">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class=" top-options">Beam centre (X,Y)</th>
                    <td class=" top-options"><div style="display:flex"><input class="selectbox" name="xbeampos" placeholder="X: 2574"></input>&nbsp&nbsp<input  class="selectbox" name="ybeampos" placeholder="Y: 1895"></input></div> </td>
                </tr>
                <tr>
                    <th class=" top-options">Data range</th>
                    <td class=" top-options"><input class="selectbox" name="datarange" placeholder="e.g.:  1-1800"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">Resolution cutoff</th>
                    <td class=" top-options"><input class="selectbox" name="rescutoff" placeholder="default: None"></input> </td>
                </tr>

                <tr>
                    <th class=" top-options">Min High-Res limit</th>
                    <td class=" top-options"><input class="selectbox" name="rmin" placeholder="default: None"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">Max Rpim</th>
                    <td class=" top-options"><input class="selectbox" name="rpim" placeholder="default: None"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">Min Completeness</th>
                    <td class=" top-options"><input class="selectbox" name="completeness" placeholder="default: None"></input> </td>
                </tr>

                <tr>
                    <th class=" top-options">CC1/2 cutoff</th>
                    <td class=" top-options"><input class="selectbox" name="cccutoff" placeholder="default: None"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">I/σ(I) cutoff</th>
                    <td class=" top-options"><input class="selectbox" name="isigmacutoff" placeholder="default: None"></input> </td>
                </tr>
                <tr class="custompar">
                    <th class=" top-options">Custom parameters</th>
                    <td class=" top-options"><input class="selectbox" name="customdataproc" placeholder="default: None"></input> </td>
                </tr>
                {% comment %} <tr>
                    <th></th>
                    <td style="padding-top:20px">
                         <form action="/reproc_web/" method="get" id="procB" name="dataprocButton" size="1" style="padding-left:20px;" target="_blank">
                            <button class="btn btn-right" type="submit" onsubmit="return dataproc()" value="No Software Selected" name="submitProc" size="1">Run data processing</button>
                        </form>


                    </td>
                </tr> {% endcomment %}

                </tbody>

                </table>
            </div>

        </div>
    </div>

    <div class="flex-center">
        <div>

            <div class="card-content card-content-left">
                <div class="card-title">BUSTER options</div>
                <table class="optionstable">
                    <col width="8%">
                    <col width="17%">
                    <tbody>
            <tr>
                <th class=" top-options">PDB Model</th>
                <td class=" top-options">
                    {% comment %} <input type="file"  id="myPDBFile"></input> {% endcomment %}
                    <input type='file' accept=".pdb,.mmcif" onchange='onChooseFile(event, onFileLoad.bind(this, "pdbcontent"))' />

                </td>
            </tr>    
            <tr>
                <th class=" top-options"></th>
                <td class=" top-options">
                    <input class="selectbox" name="PDBID_code" placeholder="PDBID; ex: 5U04 or full path"></input>
                </td>
            </tr>      
            <tr>
                <th class=" top-options">MTZ Reference</th>
                <td class=" top-options">
                    {% comment %} <input type="file"  id="myHKLFile"></input> {% endcomment %}
                    <input type='file' accept=".mtz" onchange='onChooseFile(event, onFileLoad.bind(this, "mtzcontent"))' />

                </td>
            </tr>    
              
            <tr>
                <th class=" top-options">Refinement mode</th>
                <td class=" top-options">
                    <select class="selectbox" name="refMode">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="thorough">Thorough (Slow)</option>
                        <option value="quick">Quick (Fast)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class=" top-options">Threshold for MR</th>
                <td class=" top-options">
                    <input class="selectbox" name="mrthresh" placeholder="default: 0.4"></input>
                </td>
            </tr>

            <tr>
                <th class=" top-options">Grouping Chains</th>
                <td class=" top-options">
                    <input class="selectbox" name="chains" placeholder="AB C D"></input>
                </td>
            </tr>
            <tr>
                <th class=" top-options">Brute-force TF</th>
                <td class=" top-options">
                    <select class="selectbox" name="btf">
                        <option value="false" selected value>False</option>
                        <option value="true">True</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class=" top-options">Resolution limits</th>
                <td class=" top-options">
                    <input class="selectbox" name="resolutionlimits" placeholder="[<reslow>] <reshigh>"></input>
                </td>
            </tr>

            <tr>
                <th class=" top-options">Angular range for RF</th>
                <td class=" top-options">
                    <select class="selectbox" name="bigrotrange">
                        <option value="false" selected value>False</option>
                        <option value="true">True</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class=" top-options">PDB_REDO</th>
                <td class=" top-options">
                    <form id="pdbredooptions" >
                            <div class="checkbox" id="dials">
                            <label>
                                <input id="remediateckbx" name="remediateckbx" type="checkbox" class="filled-in dt-checkboxes" value="remediate">
                                <span for="dimplecheckboxinput">SideAide refit</span>
                            </label>
                            </div>
                            <div class="checkbox" id="xdsxscale" >
                            <label>
                                <input id="sidechainbuildckbx" name="sidechainbuildckbx" type="checkbox" class="filled-in dt-checkboxes" value="sidechainbuild">
                                <span for="bustercheckboxinput">SideAide rebuild </span>
                            </label>
                            </div>
                            
                            <div class="checkbox" id="autoproc">
                            <label>
                                <input id="runpepflipckbx" name="runpepflipckbx" type="checkbox" class="filled-in dt-checkboxes" value="runpepflip">
                                <span for="fspcheckboxinput">PepFlip check and correct </span>
                            </label>
                            </div>
                    </form>
                </td>
            </tr>
            <tr class="custompar">
                <th class=" top-options">Custom parameters</th>
                <td class=" top-options"><input class="selectbox" name="custombuster" placeholder="default: None"></input> </td>
            </tr>
            {% comment %} <tr>
                <th></th>
                <td style="padding-top:20px">
                    <input type="button" class="btn btn-right" value="Run refinement"> </input>
                </td>
            </tr> {% endcomment %}
            </tbody>

            </table>
        </div>

    </div>
</div>


<div class="flex-right">
    <div>
        <div class="card-content card-content-right">
            <div class="card-title">RhoFit options</div>
            <table class="optionstable">
                <col width="8%">
                <col width="17%">
                <tbody>
        
        <tr>            
        <th class=" top-options">Ligand (select 1)</th>
        <td class=" top-options">
            <input class="selectbox" name="ligsmiles" placeholder="CN1C=NC2=C1C(=O)N(C(=O)N2C)C"></input>
        </td>
        </tr>
        <tr>            
        <th ></th>
        <td class=" top-options">
            <input class="selectbox" name="ligscreencode" placeholder="JBSB3"></input>
        </td>
        </tr>
        <tr>            
        <th ></th>
            <td class=" top-options">
                <form id="swSelectionForrefinement" >
                    
                    <div class="checkbox" id="dials">
                    <label>
                        <input id="ligfromname" name="ligfromname" type="checkbox" class="filled-in dt-checkboxes" value="ligfromnameValue">
                        <span for="ligfromname">Get from sample name </span>
                    </label>
                    </div>                    
                    
                </form>        
            </td>
        </tr>
        <tr>
            <th class=" top-options">Copies to search</th>
            <td class=" top-options"><input class="selectbox" name="numberofcopies" placeholder="default: 1"></input></td>
        <tr>

        <tr>
            <th class=" top-options">Keep Hydrogens</th>
            <td class=" top-options"><input class="selectbox" name="keepH" placeholder="default: True"></input></td>
        <tr>
        <tr>
            <th class=" top-options">Fit ligand in all sites</th>
            <td class=" top-options"><input class="selectbox" name="allclusters" placeholder="default: False"></input></td>
        <tr>
        <tr>
            <th class=" top-options">Fit ligand to best N sites</th>
            <td class=" top-options"><input class="selectbox" name="xclusters" placeholder="default: 1"></input></td>
        <tr>
        <tr>
            <th class=" top-options">Post refine to solution</th>
            <td class=" top-options">
                <select class="selectbox" name="postrefine">                    
                    <option value="postref" selected value>No</option>
                    <option value="postquick">Quick</option>
                    <option value="postthorough">Thorough</option>
                </select>
            </td>
        <tr>
        <tr>
            <th class=" top-options">Refine ligand occupancy</th>
            <td class=" top-options">
                <select class="selectbox" name="nooccref">                    
                    <option value="nooccreftrue" selected value>True</option>
                    <option value="nooccreffalse">False</option>
                    
                </select>
            </td>
        <tr>
        


        </tr>
        <tr>
            <th class=" top-options">Fitting process</th>
            <td class=" top-options">
                <select class="selectbox" name="fitprocess">
                    <option disabled selected value> -- select an option -- </option>
                    <option value="ligfitquick">Quick</option>
                    <option value="ligfitthorough">Thorough</option>
                </select>
            </td>
        <tr>
        </tr>
        <tr>
            <th class=" top-options">Scan chirals</th>
            <td class=" top-options">
                <select class="selectbox" name="scanchirals">
                    <option disabled selected value> -- select an option -- </option>
                    <option value="chiralsyes">Yes</option>
                    <option value="chiralsno">No</option>
                </select>
            </td>
        </tr>
        <tr class="custompar">
            <th class=" top-options">Custom parameters</th>
            <td class=" top-options"><input class="selectbox" name="customrhofit" placeholder="default: None"></input> </td>
        </tr>
        {% comment %} <tr>
            <th></th>
            <td style="padding-top:20px">

                <input type="button" class="btn btn-right" value="Run ligand fitting"> </input>
            </td>
        </tr> {% endcomment %}

        </tbody>
        </table>
    </div>
</div>

</div>

<div class="bottom-right">
    <form action="/submit_pipedream/" method="get" id="sendpipedreamBtn" name="sendpipedreamBtn" size="1" >
        <button class="btn-large maxivorange" type="submit" onsubmit="return submit_pipedream()" value="pipedreamInput" name="ppdform" size="1">Run Pipedream</button>
    </form>
</div>
</div>
<h6>More information can be found at: <a href="https://www.globalphasing.com/buster/manual/pipedream/manual/index.html" target="_blank">Global Phasing Pipedream Manual</a></h6>

<p hidden id="pdbcontent"></p>
<p hidden id="mtzcontent"></p>
</div>


<script>

function onFileLoad(elementId, event) {
    document.getElementById(elementId).innerText = event.target.result;
}

function onChooseFile(event, onLoadFileHandler) {
    if (typeof window.FileReader !== 'function')
        throw ("The file API isn't supported on this browser.");
    let input = event.target;
    if (!input)
        throw ("The browser does not properly implement the event object");
    if (!input.files)
        throw ("This browser does not support the `files` property of the file input.");
    if (!input.files[0])
        return undefined;
    let file = input.files[0];
    let fr = new FileReader();
    fr.onload = onLoadFileHandler;
    fr.readAsText(file);
}

var f = document.getElementById("sendpipedreamBtn");
    
    f.onsubmit = function submit_pipedream(){

    var datasetSelect=document.getElementsByName("dropdownDataset")[0].value
    if (datasetSelect != "alldatasets"){
        var outdir=datasetSelect.replace("/raw/","/fragmax/process/pipedream/")
        outdir = outdir.replace("_master.h5","")
    }

    //autoPROC parameters
    var ap_spacegroup       = document.getElementsByName("spacegroup")[0].value;
    var ap_cellparam        = document.getElementsByName("cellparameters")[0].value;
    var ap_staraniso        = document.getElementsByName("staraniso")[0].value;
    var ap_xbeamcent        = document.getElementsByName("xbeampos")[0].value;
    var ap_ybeamcent        = document.getElementsByName("ybeampos")[0].value;
    var ap_datarange        = document.getElementsByName("datarange")[0].value;
    var ap_rescutoff        = document.getElementsByName("rescutoff")[0].value;
    var ap_highreslim       = document.getElementsByName("rmin")[0].value;
    var ap_maxrpim          = document.getElementsByName("rpim")[0].value;
    var ap_mincomplet       = document.getElementsByName("completeness")[0].value;
    var ap_cchalfcut        = document.getElementsByName("cccutoff")[0].value;
    var ap_isigicut         = document.getElementsByName("isigmacutoff")[0].value;
    var ap_custompar        = document.getElementsByName("customdataproc")[0].value;


    //BUSTER parameters
    var b_userPDBfile       = document.getElementById("pdbcontent").innerHTML
    var b_userPDBcode       = document.getElementsByName("PDBID_code")[0].value;
    var b_userMTZfile       = document.getElementById("mtzcontent").innerHTML;
    var b_refinemode        = document.getElementsByName("refMode")[0].value;
    var b_MRthreshold       = document.getElementsByName("mrthresh")[0].value;
    var b_chainsgroup       = document.getElementsByName("chains")[0].value;
    var b_bruteforcetf      = document.getElementsByName("btf")[0].value;
    var b_reslimits         = document.getElementsByName("resolutionlimits")[0].value;
    var b_angularrf         = document.getElementsByName("bigrotrange")[0].value;
    var b_sideaiderefit     = document.getElementsByName("remediateckbx")[0].checked;
    var b_sideaiderebuild   = document.getElementsByName("sidechainbuildckbx")[0].checked;
    var b_pepflip           = document.getElementsByName("runpepflipckbx")[0].checked;
    var b_custompar         = document.getElementsByName("custombuster")[0].value;

    //RhoFit parameters

    var rho_ligandsmiles    = document.getElementsByName("ligsmiles")[0].value;
    var rho_ligandcode      = document.getElementsByName("ligscreencode")[0].value;
    var rho_ligandfromname  = document.getElementsByName("ligfromname")[0].checked;
    var rho_copiestosearch  = document.getElementsByName("numberofcopies")[0].value;
    var rho_keepH           = document.getElementsByName("keepH")[0].value;
    var rho_allclusters     = document.getElementsByName("allclusters")[0].value;
    var rho_xclusters       = document.getElementsByName("xclusters")[0].value;
    var rho_postrefine      = document.getElementsByName("postrefine")[0].value;
    var rho_occuprefine     = document.getElementsByName("nooccref")[0].value;
    var rho_fittingproc     = document.getElementsByName("fitprocess")[0].value;
    var rho_scanchirals     = document.getElementsByName("scanchirals")[0].value;
    var rho_custompar       = document.getElementsByName("customrhofit")[0].value;


    //processed
    var rho_ligand ="still not here" //define the ligand from one of the options
    var pdbinp="3ks3" //get path or file content from user
    var beamcentre = '"'+ap_xbeamcent+' '+ap_ybeamcent+'"'


    //pipedream command line generator
    var pipedream_cmd= ""
    //autoPROC
    //if (datasetSelect!=""){pipedream_cmd+=' -h5 '+datasetSelect}
    //if (outdir!=""){pipedream_cmd+=' -d '+outdir}
    //if (pdbinp!=""){pipedream_cmd+=' -xyzin '+pdbinp}
    //if (b_userMTZfile!=""){pipedream_cmd+=' -hklref '+b_userMTZfile } else {pipedream_cmd+=' -nofreeref'}
    //if (ap_cellparam!=""){pipedream_cmd+=' -cell '+'"'+ap_cellparam+'"'}
    //if (ap_xbeamcent!=""){pipedream_cmd+=' -beam '+beamcentre}
    //if (ap_custompar!=""){pipedream_cmd+=' -apcommands '+ap_custompar}
    //if (ap_staraniso!=""){pipedream_cmd+=' -useaniso '+ap_staraniso}
    //if (ap_highreslim!=""){pipedream_cmd+=' -rmin '+ap_highreslim}
    //if (ap_maxrpim!=""){pipedream_cmd+=' -rpim '+ap_maxrpim}
    //if (ap_mincomplet!=""){pipedream_cmd+=' -completeness '+ap_mincomplet}
    //if (b_chainsgroup!=""){pipedream_cmd+=' -chains '+b_chainsgroup}
    //if (b_bruteforcetf!=""){pipedream_cmd+=' -btf '+b_bruteforcetf}
    //if (b_reslimits!=""){pipedream_cmd+=' -mrres '+b_reslimits}
    //if (b_angularrf!=""){pipedream_cmd+=' -bigrotrange '+b_angularrf}
    ////BUSTER
    //if (b_refinemode!=""){pipedream_cmd+=' -quick '+b_refinemode}
    //if (b_refinemode!=""){pipedream_cmd+=' -thorough '+b_refinemode}
    //if (b_custompar!=""){pipedream_cmd+=' -abcommands '+b_custompar}
    //if (b_sideaiderefit!=""){pipedream_cmd+=' -remediate '+b_sideaiderefit}
    //if (b_sideaiderebuild!=""){pipedream_cmd+=' -sidechainrebuild '+b_sideaiderebuild}
    //if (b_pepflip!=""){pipedream_cmd+=' -runpepflip '+b_pepflip}
    ////Rhofit
    //if (rho_ligand!=""){pipedream_cmd+=' -rhofit '+rho_ligand}
    //if (rho_keepH!=""){pipedream_cmd+=' -keepH '+rho_keepH}
    //if (rho_scanchirals!=""){pipedream_cmd+=' -nochirals '+rho_scanchirals}
    //if (rho_allclusters!=""){pipedream_cmd+=' -allclusters '+rho_allclusters}
    //if (rho_xclusters!=""){pipedream_cmd+=' -xclusters '+rho_xclusters}
    //if (rho_fittingproc!=""){pipedream_cmd+=' -rhoquick '+rho_fittingproc}
    //if (rho_fittingproc!=""){pipedream_cmd+=' -rhothorough '+rho_fittingproc}
    //if (rho_custompar!=""){pipedream_cmd+=' -rhocommands '+rho_custompar}
    //if (rho_postrefine!=""){pipedream_cmd+=' -postref '+rho_postrefine}
    //if (rho_postrefine!=""){pipedream_cmd+=' -postquick '+rho_postrefine}
    //if (rho_postrefine!=""){pipedream_cmd+=' -postthorough '+rho_postrefine}
    //if (rho_occuprefine!=""){pipedream_cmd+=' -nooccref '+rho_occuprefine}
    

    pipedream_cmd+=";;ap_spacegroup:"+ap_spacegroup       
    pipedream_cmd+=";;ap_cellparam:"+ap_cellparam      
    pipedream_cmd+=";;ap_staraniso:"+ap_staraniso
    pipedream_cmd+=";;ap_xbeamcent:"+ap_xbeamcent
    pipedream_cmd+=";;ap_ybeamcent:"+ap_ybeamcent
    pipedream_cmd+=";;ap_datarange:"+ap_datarange
    pipedream_cmd+=";;ap_rescutoff:"+ap_rescutoff
    pipedream_cmd+=";;ap_highreslim:"+ap_highreslim
    pipedream_cmd+=";;ap_maxrpim:"+ap_maxrpim
    pipedream_cmd+=";;ap_mincomplet:"+ap_mincomplet
    pipedream_cmd+=";;ap_cchalfcut:"+ap_cchalfcut
    pipedream_cmd+=";;ap_isigicut:"+ap_isigicut
    pipedream_cmd+=";;ap_custompar:"+ap_custompar
    pipedream_cmd+=";;b_userPDBfile:"+b_userPDBfile
    pipedream_cmd+=";;b_userPDBcode:"+b_userPDBcode
    pipedream_cmd+=";;b_userMTZfile:"+b_userMTZfile
    pipedream_cmd+=";;b_refinemode:"+b_refinemode
    pipedream_cmd+=";;b_MRthreshold:"+b_MRthreshold
    pipedream_cmd+=";;b_chainsgroup:"+b_chainsgroup
    pipedream_cmd+=";;b_bruteforcetf:"+b_bruteforcetf
    pipedream_cmd+=";;b_reslimits:"+b_reslimits
    pipedream_cmd+=";;b_angularrf:"+b_angularrf
    pipedream_cmd+=";;b_sideaiderefit:"+b_sideaiderefit
    pipedream_cmd+=";;b_sideaiderebuild:"+b_sideaiderebuild
    pipedream_cmd+=";;b_pepflip:"+b_pepflip
    pipedream_cmd+=";;b_custompar:"+b_custompar
    pipedream_cmd+=";;rho_ligandsmiles:"+rho_ligandsmiles
    pipedream_cmd+=";;rho_ligandcode:"+rho_ligandcode
    pipedream_cmd+=";;rho_ligandfromname:"+rho_ligandfromname
    pipedream_cmd+=";;rho_copiestosearch:"+rho_copiestosearch
    pipedream_cmd+=";;rho_keepH:"+rho_keepH
    pipedream_cmd+=";;rho_allclusters:"+rho_allclusters
    pipedream_cmd+=";;rho_xclusters:"+rho_xclusters
    pipedream_cmd+=";;rho_postrefine:"+rho_postrefine
    pipedream_cmd+=";;rho_occuprefine:"+rho_occuprefine
    pipedream_cmd+=";;rho_fittingproc:"+rho_fittingproc
    pipedream_cmd+=";;rho_scanchirals:"+rho_scanchirals
    pipedream_cmd+=";;rho_custompar:"+rho_custompar
    pipedream_cmd+=';;extras:-nthreads -1  -v '


    document.getElementsByName("ppdform")[0].value = pipedream_cmd

    
    console.log(pipedream_cmd)
}
    
</script>
{% endblock %}