{% extends 'fragview/base.html' %}

{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<style>
    td, th {
        padding: 5px 5px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;
        font-size: 12px;

    }
    .top-options {
        font-size: 15px !important;
    }
    .content {
        margin: auto !important;
        max-width: 100% !important;
        width: 100% !important;
    }
    .card-content-left{
        padding: 24px 24px 38px 24px !important;
    }
    .card-content-right{
        padding: 24px 24px 28px 24px !important;
    }
    .card_options {
        padding-left: 310px  !important;

        max-width: calc(100% - 50px)  !important;
        {% comment %} max-width: 2455px  !important;
        min-width: 1800px; {% endcomment %}
    }
    .flexdiv {
        display: flex;
        padding-left: 300px;
        max-width: calc(100% - 50px)  !important;

        {% comment %} max-width: 2455px !important; {% endcomment %}
    }
    .flexdiv_options {
        display: flex;
        {% comment %} padding-left: 40px; {% endcomment %}
    }
    .flex-left {
        max-width:750px; 
        width: 30%
    }
    .flex-right {
        margin-left:3%;    
        max-width:750px; 
        width: 30%
    }    
    .flex-center {
        margin-left:3%; 
        max-width:750px;     
        width: 30%
    }


    .crystalsnap {
        max-width: 400px;
        padding: 10px;
    }
    .diffimg {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
        }
    .diffsnap{
        max-width:400px;
        padding:10px;
    }
    .flexdiv_snapshot {
        display: flex;
    }

    .selectbox {
        display: flex !important; 
    }
    .optionstable {
        border-collapse: separate;
        border-spacing: 0;
    }
    .tableSoak {
        border-collapse: separate;
        border-spacing: 0;
        width: 100% !important;

    }
    .tableInfo {
        width: 100% !important;
    }
    
    .bottom-right    {
        right: 30;
        bottom: 20;
        position: absolute;        
    }
    .btn-right {
        float:right !important;
    }
    .maxivorange {
        background-color: #fea901;
    }
    .custompar {
        background-color: #f0f0f0;
    }
    .ligpng {
        height: 95px;
    }
    .card-title {
        display:inline-flex !important;
    }
</style>


{% comment %}
<meta http-equiv="refresh" content="5" /> {% endcomment %}

<div>
    <h5 style="padding-left:310px;">{{acronym}} data collection Overview</h5>    
    <h6 style="padding-left:310px;">This page will process/reprocess all your datasets using the same input parameters</h6>
    <h7 style="padding-left:330px;">&bull; BioMAX autoprocessing statistics is displayed in the bottom of the page</h7>

</div>


<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<div class="card_options">
    <div class="flexdiv_options card ">
        <div class="flex-left">
            <div>
                <div class="card-content card-content-left">
                    <div class="card-title">Data processing</div>
                    <table class="optionstable" >
                        <col width="8%">
                        <col width="17%">
                        <tbody>
                            <tr>
                                <th class="top-options">Software</th>
                                <td class=" top-options">
                                    <form id="swSelectionFordataproc" >
                                        <div>
                                        <div class="checkbox" id="dials">
                                        <label>
                                            <input id="dialscheckboxinput" name="dialscheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="dials">
                                            <span for="dialscheckboxinput">XIA2/DIALS </span>
                                        </label>
                                        </div>
                                        <div class="checkbox" id="xdsxscale" >
                                        <label>
                                            <input id="xdsxscalecheckboxinput" name="xdsxscalecheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="xdsxscale">
                                            <span for="xdsxscalecheckboxinput">XIA2/XDS_XSCALE </span>
                                        </label>
                                        </div>
                                        <div class="checkbox" id="xdsapp" >
                                            <label>
                                                <input id="xdsappcheckboxinput" name="xdsappcheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="xdsapp">
                                                <span for="xdsappcheckboxinput">XDSAPP </span>
                                            </label>
                                        </div>    
                                        <div class="checkbox" id="autoproc"  >
                                        <label>
                                            <input id="autoproccheckboxinput" name="autoproccheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="autoproc">
                                            <span for="autoproccheckboxinput">autoProc </span>
                                        </label>
                                        </div> 
                                        </div>                     
                                    </form>
                </div>


                </td>
                </tr>
                <tr>
                    <th class=" top-options">Space group</th>
                    <td class=" top-options">
                        <input class="selectbox" name="spacegroup" placeholder="P43212"></input>
                    </td>
                </tr>

                <tr>
                    <th class=" top-options">Cell parameters</th>
                    <td class=" top-options"><input class="selectbox" name="cellparam" placeholder="(a, b, c, α, β, γ)"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">Friedel law</th>
                    <td class=" top-options">
                        <select class="selectbox" name="friedel">
                            <option value="true" selected>True</option>
                            <option value="false">False</option>
                        </select>
                    </td>
                </tr>
                <tr hidden>
                    <th class=" top-options">Data range</th>
                    <td class=" top-options"><input class="selectbox" name="datarange" placeholder="1-1800"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">Resolution cutoff</th>
                    <td class=" top-options"><input class="selectbox" name="rescutoff" placeholder="default: None"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">CC1/2 cutoff</th>
                    <td class=" top-options"><input class="selectbox" name="cccutoff" placeholder="default: None"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">I/σ(I) cutoff</th>
                    <td class=" top-options"><input class="selectbox" name="isigmacutoff" placeholder="default: None"></input> </td>
                </tr>
                <tr class="custompar">
                    <th class=" top-options">Custom parameters</th>
                    <td class=" top-options"><input class="selectbox" name="customdataproc" placeholder="default: None"></input> </td>
                </tr>
                <tr>
                    <th></th>
                    <td style="padding-top:20px">
                        <form action="/dataproc_datasets/" method="get" id="dtprocBtn" name="dataprocButton" size="1" target="_blank">
                            <button class="btn  btn-right" type="submit" onsubmit="return dataproc()" value="No Software Selected" name="submitdtProc" size="1">Run data processing</button>
                        </form>
                    </td>
                </tr>

                </tbody>

                </table>
            </div>

        </div>
    </div>

    <div class="flex-center">
        <div>

            <div class="card-content card-content-left">
                <div class="card-title">Structure Refinement</div>
                <table class="optionstable">
                    <col width="8%">
                    <col width="17%">
                    <tbody>
                        <tr>
                            <th class=" top-options">Software</th>
                            <td class=" top-options">
                                
                                <form id="swSelectionForrefinement" >
                                        <div>
                                        <div class="checkbox" id="dials">
                                        <label>
                                            <input id="dimplecheckboxinput" name="dimplecheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="dimple">
                                            <span for="dimplecheckboxinput">Dimple </span>
                                        </label>
                                        </div>
                                        <div class="checkbox" id="xdsxscale" >
                                        <label>
                                            <input id="bustercheckboxinput" name="bustercheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="buster">
                                            <span for="bustercheckboxinput">BUSTER </span>
                                        </label>
                                        </div>
                                        <div class="checkbox" id="autoproc">
                                        <label>
                                            <input id="fspcheckboxinput" name="fspcheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="fsp">
                                            <span for="fspcheckboxinput">FSpipeline </span>
                                        </label>
                                        </div>
                                        </div>                     
                                </form>
                                </td>
                        </tr>
                 </div>


            <tr>
                <th class=" top-options">PDB model</th>
                <td class=" top-options">
                    <input class="selectbox" name="pdbcode" placeholder="PDB ID or full path"></input>
                </td>
            </tr>
            <tr>
                <th class=" top-options"></th>
                <td class=" top-options">
                    <input type='file' accept=".pdb" onchange='onChooseFile(event, onFileLoad.bind(this, "pdbcontent"))' />
                </td>
            </tr>
            <tr>
                <th class=" top-options">Refinement mode</th>
                <td class=" top-options">
                    <select class="selectbox" name="refMode">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="refslow">Extra (Slowest)</option>
                        <option value="refslow">Normal (Slow)</option>
                        <option value="reffast">Quick (Fast)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class=" top-options">Threshold for MR</th>
                <td class=" top-options">
                    <input class="selectbox" name="mrthresh" placeholder="default: 0.4"></input>
                </td>
            </tr>
            <tr>
                <th class=" top-options">Resolution cutoff</th>
                <td class=" top-options">
                    <input class="selectbox" name="refrescutoff" placeholder="default: None"></input>
                </td>
            </tr>
            
                

            <tr class="custompar">
                <th class=" top-options">Custom parameters</th>
                <td class=" top-options"><input class="selectbox" name="customrefine" placeholder="default: None"></input> </td>
            </tr>
            <tr>
                <th></th>
                <td style="padding-top:20px">
                    <form action="/dataproc_datasets/" method="get" id="rfprocBtn" name="rfprocButton" size="1" target="_blank">
                        <button class="btn  btn-right" type="submit" onsubmit="return refineproc()" value="No Software Selected" name="submitrfProc" size="1">Run refinement</button>
                    </form>
                </td>
            </tr>
            </tbody>
            </table>
        </div>

    </div>
</div>


<div class="flex-right">
    <div>
        <div class="card-content card-content-right">
            <div class="card-title">Ligand fitting</div>
            <table class="optionstable">
                <col width="8%">
                <col width="17%">
                <tbody>
                    <tr>
                        <th class=" top-options">Software</th>
                        <td class=" top-options">                            
                            <form id="swSelectionForrefinement" >
                                <div>
                                    <div class="checkbox" id="rhofit">
                                    <label>
                                        <input id="rhofitcheckboxinput" name="rhofitcheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="rhofit">
                                        <span for="rhofitcheckboxinput">RhoFit </span>
                                    </label>
                                    </div>
                                    <div class="checkbox" id="ligfit">
                                    <label>
                                        <input id="phenixligfitcheckboxinput" name="phenixligfitcheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="phenixligfit">
                                        <span for="phenixligfitcheckboxinput">Phenix LigFit </span>
                                    </label>
                                    </div>
                                </div>                                                       
                        </form>                    
                    </tr>
                    <tr>
                        <th class=" top-options">Ligand File</th>
                        <td class=" top-options">
                            <input type='file' accept=".csv,.txt,.smi,.smiles" onchange='onChooseFile(event, onFileLoad.bind(this, "ligcontent"))' />
                        </td>
                    </tr>
                    <tr>
                        <th class=" top-options">Fitting process</th>
                        <td class=" top-options">
                            <select class="selectbox" name="fitprocess">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="ligfitquick">Quick</option>
                                <option value="ligfitthorough">Thorough</option>
                            </select>
                        </td>
                    <tr>
                    </tr>
                    <tr>
                        <th class=" top-options">Scan chirals</th>
                        <td class=" top-options">
                            <select class="selectbox" name="scanchirals">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="chiralsyes">Yes</option>
                                <option value="chiralsno">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="custompar">
                        <th class=" top-options">Custom parameters</th>
                        <td class=" top-options"><input class="selectbox" name="customligfit" placeholder="default: None"></input> </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="padding-top:20px">
                            <form action="/dataproc_datasets/" method="get" id="ligprocBtn" name="ligprocButton" size="1" target="_blank">
                                <button class="btn  btn-right" type="submit" onsubmit="return ligandfitproc()" value="No Software Selected" name="submitligProc" size="1">Run ligand fitting</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="bottom-right">
    <form action="/dataproc_datasets/" method="get" id="allprocBtn" name="allprocButton" size="1" target="_blank">
        <button class="btn-large maxivorange btn-right" type="submit" onsubmit="return dataprocess()" value="No Software Selected " name="submitallProc" size="1">Run All</button>
    </form>
    
    
    
</div>
</div>
</div>
<p hidden id="pdbcontent"></p>
<p hidden id="ligcontent"></p>

<script>
var f = document.getElementById("dtprocBtn");
    
    f.onsubmit = function dataproc() {
        //Data proc options
        var dialsSW         = ";dials:"+document.getElementsByName("dialscheckboxname")[0].checked
        var xdsxscaleSW     = ";xdsxscale:"+document.getElementsByName("xdsxscalecheckboxname")[0].checked
        var xdsappSW        = ";xdsapp:"+document.getElementsByName("xdsappcheckboxname")[0].checked
        var autoprocSW      = ";autoproc:"+document.getElementsByName("autoproccheckboxname")[0].checked
        var spacegroup      = ";spacegroup:"+document.getElementsByName("spacegroup")[0].value
        var cellparam       = ";cellparam:"+document.getElementsByName("cellparam")[0].value
        var friedel         = ";friedel:"+document.getElementsByName("friedel")[0].value
        var datarange       = ";datarange:"+document.getElementsByName("datarange")[0].value
        var rescutoff       = ";rescutoff:"+document.getElementsByName("rescutoff")[0].value
        var cccutoff        = ";cccutoff:"+document.getElementsByName("cccutoff")[0].value
        var isigicutoff     = ";isigicutoff:"+document.getElementsByName("isigmacutoff")[0].value
    
        var dtproccmd= dialsSW+xdsxscaleSW+xdsappSW+autoprocSW+spacegroup+cellparam+friedel+datarange+rescutoff+cccutoff+isigicutoff
        document.getElementsByName("submitdtProc")[0].value = dtproccmd

    }

var f2 = document.getElementById("rfprocBtn");
    
    f2.onsubmit = function refineproc() {
       //Refinement options
        var dimpleSW        = ";dimpleSW:"+document.getElementsByName("dimplecheckboxname")[0].checked
        var fspSW           = ";fspSW:"+document.getElementsByName("fspcheckboxname")[0].checked
        var busterSW        = ";busterSW:"+document.getElementsByName("bustercheckboxname")[0].checked
        var refinemode      = ";refinemode:"+document.getElementsByName("refMode")[0].value
        var mrthreshold     = ";mrthreshold:"+document.getElementsByName("mrthresh")[0].value
        var refinerescutoff = ";refinerescutoff:"+document.getElementsByName("refrescutoff")[0].value
        if (document.getElementById("pdbcontent").innerHTML.includes("ATOM")) {
            var pdbmodel    = ";pdbupload:"+document.getElementById("pdbcontent").innerHTML
            } else {
                var pdbmodel    = ";pdbmodel:"+document.getElementsByName("pdbcode")[0].value
        }
        var customrefparam  = ";customrefine:"+document.getElementsByName("customrefine")[0].value

        var refinecmd= dimpleSW+fspSW+busterSW+refinemode+mrthreshold+refinerescutoff+pdbmodel
        document.getElementsByName("submitrfProc")[0].value = refinecmd

    }

var f3 = document.getElementById("ligprocBtn");
    
    f3.onsubmit = function ligandfitproc() {
       //Ligand fit options
        var rhofitSW        = ";rhofitSW:"+document.getElementsByName("rhofitcheckboxname")[0].checked
        var ligfitSW        = ";ligfitSW:"+document.getElementsByName("phenixligfitcheckboxname")[0].checked
        var ligandfile      = ";ligandfile:"+document.getElementById("ligcontent").innerHTML
        var fitprocess      = ";fitprocess:"+document.getElementsByName("fitprocess")[0].value
        var scanchirals     = ";scanchirals:"+document.getElementsByName("scanchirals")[0].value
        var customligfit    = ";customligfit:"+document.getElementsByName("customligfit")[0].value

        var ligfitcmd= rhofitSW+ligfitSW+ligandfile+fitprocess+scanchirals+customligfit
        
        document.getElementsByName("submitligProc")[0].value = ligfitcmd

    }

var fAll = document.getElementById("allprocBtn");

    fAll.onsubmit = function dataprocess(){
        //Data proc options
        var dialsSW         =";dials:"+document.getElementsByName("dialscheckboxname")[0].checked
        var xdsxscaleSW     =";xdsxscale:"+document.getElementsByName("xdsxscalecheckboxname")[0].checked
        var xdsappSW        =";xdsapp:"+document.getElementsByName("xdsappcheckboxname")[0].checked
        var autoprocSW      =";autoproc:"+document.getElementsByName("autoproccheckboxname")[0].checked
        var spacegroup      = ";spacegroup:"+document.getElementsByName("spacegroup")[0].value
        var cellparam       = ";cellparam:"+document.getElementsByName("cellparam")[0].value
        var friedel         = ";friedel:"+document.getElementsByName("friedel")[0].value
        var datarange       = ";datarange:"+document.getElementsByName("datarange")[0].value
        var rescutoff       = ";rescutoff:"+document.getElementsByName("rescutoff")[0].value
        var cccutoff        = ";cccutoff:"+document.getElementsByName("cccutoff")[0].value
        var isigicutoff     = ";isigicutoff:"+document.getElementsByName("isigmacutoff")[0].value

        //Refinement options
        var dimpleSW        = ";dimpleSW:"+document.getElementsByName("dimplecheckboxname")[0].checked
        var fspSW           = ";fspSW:"+document.getElementsByName("fspcheckboxname")[0].checked
        var busterSW        = ";busterSW:"+document.getElementsByName("bustercheckboxname")[0].checked
        var refinemode      = ";refinemode:"+document.getElementsByName("refMode")[0].value
        var mrthreshold     = ";mrthreshold:"+document.getElementsByName("mrthresh")[0].value
        var refinerescutoff = ";refinerescutoff:"+document.getElementsByName("refrescutoff")[0].value
        if (document.getElementById("pdbcontent").innerHTML.includes("ATOM")) {
            var pdbmodel    = ";pdbupload:"+document.getElementById("pdbcontent").innerHTML
        } else {
            var pdbmodel    = ";pdbmodel:"+document.getElementsByName("pdbcode")[0].value
        }
        var customrefparam  = ";customrefine:"+document.getElementsByName("customrefine")[0].value

        //Ligand fit options
        var rhofitSW        = ";rhofitSW:"+document.getElementsByName("rhofitcheckboxname")[0].checked
        var ligfitSW        = ";ligfitSW:"+document.getElementsByName("phenixligfitcheckboxname")[0].checked
        var ligandfile      = ";ligandfile:"+document.getElementById("ligcontent").innerHTML
        var fitprocess      = ";fitprocess:"+document.getElementsByName("fitprocess")[0].value
        var scanchirals     = ";scanchirals:"+document.getElementsByName("scanchirals")[0].value
        var customligfit    = ";customligfit:"+document.getElementsByName("customligfit")[0].value

        var dtproccmd= dialsSW+xdsxscaleSW+xdsappSW+autoprocSW+spacegroup+cellparam+friedel+datarange+rescutoff+cccutoff+isigicutoff
        var refinecmd= dimpleSW+fspSW+busterSW+refinemode+mrthreshold+refinerescutoff+pdbmodel
        var ligfitcmd= rhofitSW+ligfitSW+ligandfile+fitprocess+scanchirals+customligfit

        document.getElementsByName("submitallProc")[0].value = dtproccmd+refinecmd+ligfitcmd

}

function onFileLoad(elementId, event) {
    document.getElementById(elementId).innerText = event.target.result;
}

function onChooseFile(event, onLoadFileHandler) {
    if (typeof window.FileReader !== 'function')
        throw ("The file API isn't supported on this browser.");
    let input = event.target;
    if (!input)
        throw ("The browser does not properly implement the event object");
    if (!input.files)
        throw ("This browser does not support the `files` property of the file input.");
    if (!input.files[0])
        return undefined;
    let file = input.files[0];
    let fr = new FileReader();
    fr.onload = onLoadFileHandler;
    fr.readAsText(file);
}
</script>

{% endblock %}