{% extends 'fragview/base.html' %}

{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<style>
    td, th {
        padding: 5px 5px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;
        font-size: 12px;
    }
    .top-options {
        font-size: 15px !important;

    }
    .content {
        margin: auto !important;
        max-width: 100% !important;
        width: 100% !important;
    }
    .card-content-left{
        padding: 24px 24px 60px 24px !important;
    }
    .card-content-right{
        padding: 24px 24px 190px 24px !important;
    }
    .card_options {
        padding-left: 260px  !important;
        max-width: 2455px  !important;
        padding-top: 30px;

    }
    .flexdiv {
        display: flex;
        padding-left: 250px;
    }
    .flexdiv_options {
        display: flex;
        padding-left: 40px;
    }
    .flex-left {
        flex-basis: 1;
    }

    .flex-right {
        margin-left:10px;     
    }    
    .flex-center {
        margin-left:10px;     
    }
    .crystalsnap {
        width: 400px;
        padding: 10px;
    }
    .flexdiv_snapshot {
        display: flex;
    }
    .selectbox {
        display: flex !important; 
    }
    .optionstable {
        border-collapse: separate;
        border-spacing: 0;
    }
    .bottom-right    {
        right: 30;
        bottom: 20;
        position: absolute;        
    }
    .btn-right {
        float:right !important;
    }
    .maxivorange {
        background-color: #fea901;
    }
    .custompar {
        background-color: #f0f0f0;
    }
    label {
        color: #000000 !important;
    }
</style>


{% comment %}
<meta http-equiv="refresh" content="5" /> {% endcomment %}

<div>
    <h5 style="padding-left:260px;">hCAII data collection Overview</h5>    
    <h6 style="padding-left:260px;">This page will process/reprocess all your datasets using the same input parameters</h6>
    <h7 style="padding-left:280px;">&bull; BioMAX autoprocessing statistics is displayed in the bottom of the page</h7>

</div>


<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<div class="card_options">
    <div class="flexdiv_options card ">
        <div class="flex-left">
            <div>
                <div class="card-content card-content-left">
                    <div class="card-title">Data processing</div>
                    <table class="optionstable" >
                        <col width="200">
                        <col width="450">
                        <tbody>
                            <tr>
                                <th class="top-options">Software</th>
                                <td class=" top-options">
                                    <form id="swSelectionFordataproc" >
                                        <div style="display:flex">
                                        <div class="checkbox" id="dials">
                                        <label>
                                            <input id="dialscheckboxinput" name="dialscheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="dials">
                                            <span for="dialscheckboxinput">XIA2/DIALS </span>
                                        </label>
                                        </div>
                                        <div class="checkbox" id="xdsxscale" style="padding-left:100px">
                                        <label>
                                            <input id="xdsxscalecheckboxinput" name="xdsxscalecheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="xdsxscale">
                                            <span for="xdsxscalecheckboxinput">XIA2/XDS_XSCALE </span>
                                        </label>
                                        </div>
                                        </div>
                                        <div style="display:flex">
                                        <div class="checkbox" id="autoproc">
                                        <label>
                                            <input id="autoproccheckboxinput" name="autoproccheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="autoproc">
                                            <span for="autoproccheckboxinput">autoProc </span>
                                        </label>
                                        </div>
                                        <div class="checkbox" id="xdsapp" style="padding-left:117px">
                                            <label>
                                                <input id="xdsappcheckboxinput" name="xdsappcheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="xdsapp">
                                                <span for="xdsappcheckboxinput">XDSAPP </span>
                                            </label>
                                        </div>     
                                        </div>                     
                                    </form>
                </div>


                </td>
                </tr>
                <tr>
                    <th class=" top-options">Space group</th>
                    <td class=" top-options">
                        <input class="selectbox" name="spacegroup" placeholder="P43212"></input>
                    </td>
                </tr>

                <tr>
                    <th class=" top-options">Cell parameters</th>
                    <td class=" top-options"><input class="selectbox" name="spacegroup" placeholder="(a, b, c, α, β, γ)"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">Friedel law</th>
                    <td class=" top-options">
                        <select class="selectbox" name="friedel">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="friedeltrue">True</option>
                            <option value="friedelfalse">False</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class=" top-options">Data range</th>
                    <td class=" top-options"><input class="selectbox" name="datarange" placeholder="1-1800"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">Resolution cutoff</th>
                    <td class=" top-options"><input class="selectbox" name="rescutoff" placeholder="default: None"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">CC1/2 cutoff</th>
                    <td class=" top-options"><input class="selectbox" name="cccutoff" placeholder="default: None"></input> </td>
                </tr>
                <tr>
                    <th class=" top-options">I/σ(I) cutoff</th>
                    <td class=" top-options"><input class="selectbox" name="isigmacutoff" placeholder="default: None"></input> </td>
                </tr>
                <tr class="custompar">
                    <th class=" top-options">Custom parameters</th>
                    <td class=" top-options"><input class="selectbox" name="customdataproc" placeholder="default: None"></input> </td>
                </tr>
                <tr>
                    <th></th>
                    <td style="padding-top:20px">
                        <input type="button" class="btn btn-right" value="Run data processing"> </input>
                    </td>
                </tr>

                </tbody>

                </table>
            </div>

        </div>
    </div>

    <div class="flex-center">
        <div>

            <div class="card-content card-content-left">
                <div class="card-title">Structure Refinement</div>
                <table class="optionstable">
                    <col width="200">
                    <col width="450">
                    <tbody>
                        <tr>
                            <th class=" top-options">Software</th>
                            <td class=" top-options">
                                
                                <form id="swSelectionForrefinement" >
                                        <div style="display:flex">
                                        <div class="checkbox" id="dials">
                                        <label>
                                            <input id="dimplecheckboxinput" name="dimplecheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="dimple">
                                            <span for="dimplecheckboxinput">Dimple </span>
                                        </label>
                                        </div>
                                        <div class="checkbox" id="xdsxscale" style="padding-left:100px">
                                        <label>
                                            <input id="bustercheckboxinput" name="bustercheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="buster">
                                            <span for="bustercheckboxinput">BUSTER </span>
                                        </label>
                                        </div>
                                        </div>
                                        <div style="display:flex">
                                        <div class="checkbox" id="autoproc">
                                        <label>
                                            <input id="fspcheckboxinput" name="fspcheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="fsp">
                                            <span for="fspcheckboxinput">FSpipeline </span>
                                        </label>
                                        </div>
                                        </div>                     
                                </form>
            </div>


            </td>
            </tr>
            <tr>
                <th class=" top-options">Refinement mode</th>
                <td class=" top-options">
                    <select class="selectbox" name="refMode">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="refslow">Extra (Slowest)</option>
                        <option value="refslow">Normal (Slow)</option>
                        <option value="reffast">Quick (Fast)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class=" top-options">Threshold for MR</th>
                <td class=" top-options">
                    <input class="selectbox" name="mrthresh" placeholder="default: 0.4"></input>
                </td>
            </tr>
            <tr>
                <th class=" top-options">Resolution cutoff</th>
                <td class=" top-options">
                    <input class="selectbox" name="refrescutoff" placeholder="default: None"></input>
                </td>
            </tr>
            <tr>
                <th class=" top-options">PDB model</th>
                <td class=" top-options">
                    <input class="selectbox" name="refrescutoff" placeholder="PDB ID or full path"></input>
                </td>
            </tr>
            <tr class="custompar">
                <th class=" top-options">Custom parameters</th>
                <td class=" top-options"><input class="selectbox" name="customrefine" placeholder="default: None"></input> </td>
            </tr>
            <tr>
                <th></th>
                <td style="padding-top:20px">
                    <input type="button" class="btn btn-right" value="Run refinement"> </input>
                </td>
            </tr>
            </tbody>

            </table>
        </div>

    </div>
</div>


<div class="flex-right">
    <div>
        <div class="card-content card-content-right">
            <div class="card-title">Ligand fitting</div>
            <table class="optionstable">
                <col width="200">
                <col width="450">
                <tbody>
                    <tr>
                        <th class=" top-options">Software</th>
                        <td class=" top-options">
                            
                            <form id="swSelectionForrefinement" >
                                        <div style="display:flex">
                                        <div class="checkbox" id="dials">
                                        <label>
                                            <input id="rhofitcheckboxinput" name="rhofitcheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="rhofit">
                                            <span for="rhofitcheckboxinput">RhoFit </span>
                                        </label>
                                        </div>
                                        <div class="checkbox" id="xdsxscale" style="padding-left:100px">
                                        <label>
                                            <input id="phenixligfitcheckboxinput" name="phenixligfitcheckboxname" type="checkbox" class="filled-in dt-checkboxes" value="phenixligfit">
                                            <span for="phenixligfitcheckboxinput">Phenix LigFit </span>
                                        </label>
                                        </div>
                                        </div>
                                                       
                                </form>
                            
        </div>
        </tr>
        <th class=" top-options">Ligand File</th>
        <td class=" top-options">
            <input type="file"  id="myFile"></input>
        </td>
        
        <tr>
            <th class=" top-options">Fitting process</th>
            <td class=" top-options">
                <select class="selectbox" name="fitprocess">
                    <option disabled selected value> -- select an option -- </option>
                    <option value="ligfitquick">Quick</option>
                    <option value="ligfitthorough">Thorough</option>
                </select>
            </td>
        <tr>
        </tr>
        <tr>
            <th class=" top-options">Scan chirals</th>
            <td class=" top-options">
                <select class="selectbox" name="scanchirals">
                    <option disabled selected value> -- select an option -- </option>
                    <option value="chiralsyes">Yes</option>
                    <option value="chiralsno">No</option>
                </select>
            </td>
        </tr>
        <tr class="custompar">
            <th class=" top-options">Custom parameters</th>
            <td class=" top-options"><input class="selectbox" name="customligfit" placeholder="default: None"></input> </td>
        </tr>
        <tr>
            <th></th>
            <td style="padding-top:20px">

                <input type="button" class="btn btn-right" value="Run ligand fitting"> </input>
            </td>
        </tr>

        </tbody>
        </table>
    </div>
</div>
</div>
<div class="bottom-right">
    <input type="button" class="btn-large maxivorange" value="Run All"> </input>
</div>
</div>
</div>

{% endblock %}