{% extends 'fragview/base.html' %}

{% comment %}

The page for modifying existing projects and creating new
projects.

The rendered HTML is slightly different between the 'create new project'
and 'modify existing project' cases.

If the 'project_id' variable is set when the template is rendered, the
'modify existing project' version will be generated. Otherwise you'll
get the 'create new project' version.

{% endcomment %}

{% block title %}FragMAX - Project Settings{% endblock %}
{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    text-align: center;
}

.container {
    padding-left: 200px;
    max-width: 1280 !important;
    width: calc(100% - 75px) !important;
}

.prechoice {
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
}

.err_msg {
    color: red;
}

.frags_file {
    height: 3rem;
    /*
     * the negative margin is the magic, that
     * makes sure that the width of the table columns
     * remain constant when we show and hide
     * file input row
     */
    margin: 15px -120px 0 0;
}
</style>

<script>
function confirm_delete()
{
    return confirm("Are you sure you want to delete " +
        "'{{ form.protein.value }} - {{ form.library_name.value }}' project?");
}

$(document).ready(function()
{
    $("#delete_button").click(confirm_delete);
});
</script>

<h4>Project Settings</h4><br>

<div class="card">
    <div class="card-content">
        <div class="card-title">Set experiment definitions</div><br>
            <form id="project_form"
                  enctype="multipart/form-data"
                  action="/project/{% if project_id %}{{ project_id }}/{% else %}new{% endif %}"
                  method="post">
                {% csrf_token %}
                <table class="table bordered">
                    <tbody>
                    <tr>
                        <th>Protein</th>
                        <td>
                            <input class="selectbox"
                                   name="protein"
                                   placeholder="Protein acronym"
                                   value="{{ form.protein.value }}"
                                   required/>
                            <div class="err_msg">{{ form.protein.errors }}</div>
                        </td>
                    </tr>
                    {% if not project_id %}
                    {% comment %}
                        changing library for existing project not implemented for existing project,
                        so don't show library widget for now
                    {% endcomment %}
                    <tr>
                        <th>Library Name</th>
                        <td>
                            <input class="selectbox"
                                   name="library_name"
                                   placeholder="Library name"
                                   value="{{ form.library_name.value }}"
                                   required/>
                            <div class="err_msg">{{ form.library_name.errors }}</div>

                        </td>
                    </tr>
                    <tr>
                        <th>Library Fragments</th>
                        <td>
                            <input class="frags_file" id="fragments_file" type="file" name="fragments_file"
                                   value="{{ form.fragments_file.value }}"

                                   {% if not project_id %}
                                   {# don't require for existing project, otherwise we can't delete them #}
                                   required
                                   {% endif %}>
                            <div class="err_msg">{{ form.fragments_file.errors }}</div>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Proposal Number</th>
                        <td>
                            <input class="selectbox"
                                   name="proposal"
                                   placeholder="20180489"
                                   value="{{ form.proposal.value }}"
                                   required/>
                            <div class="err_msg">{{ form.proposal.errors }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Shifts</th>
                        <td>
                            <input class="selectbox"
                                   name="shift_list"
                                   placeholder="20190622,20190629"
                                   value="{{form.shift_list.value}}"
                                   required/>
                            <div class="err_msg">{{ form.shift_list.errors }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Data Processing</th>
                        <td>
                            <div class="checkbox">
                            <label>
                                <input name="encrypted"
                                       type="checkbox"
                                       class="filled-in dt-checkboxes"
                                       {% if form.encrypted.value %}checked{% endif %}
                                       {% comment %}
                                           changing 'encrypted' mode for existing project is not supported for now
                                       {% endcomment %}
                                       {% if project_id %}disabled{% endif %}
                                >
                                <span>Encrypted Mode</span>
                            </label>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="prechoice" >
                    <div style="padding-right: 0px;">
                        <button class="btn-large" type="submit" name="action" value="modify">
                            {% if project_id %}
                                update
                            {% else %}
                                create
                            {% endif %}
                        </button>
                    </div>

                    {% if project_id %}
                        <div style="padding-left: 40px;">
                            <button class="btn-large" id="delete_button" type="submit" name="action" value="delete">
                                delete
                            </button>
                        </div>
                    {% endif %}

                    <div style="padding-left: 40px;">
                        <button class="btn-large" type="button" onclick="location.href='/projects'">cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

