
{% extends 'fragview/base.html' %}

{% load static %}
{% block title %}FragMAX - Project Summary{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }
  th {
    text-align: center;

  }

  td, th {
    border: 1px solid #f0f0f0;
    padding: 8px;
      height: 60px;

  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }

  .container {
    padding-left: 200px;
    max-width: 1280 !important;
    width: calc(100% - 75px) !important;
}
</style>
<h4>Project Summary</h4>
        

<div class="card">
        <div class="card-content">
            
            <div class="card-title">Proposal name: Fragment screening of {{acronym}}</div><br>
            <table class="table bordered">
                
                <tbody>
                <tr>
                    <th>Proposal Number</th>
                    <td>{{proposal}}</td>                    
                </tr>
                <tr>
                    <th>Shift</th>
                    <td>{{shift}}</td>                    
                </tr>
                <tr>
                    <th>Protein</th>
                    <td>{{acronym}}</td>                    
                </tr>
                <tr>
                    <th>User type</th>
                    <td>Academic visitor</td>                    
                </tr>
                <tr>
                    <th>Datasets collected</th>
                    <td>{{num_dataset}} datasets</td>                    
                </tr>
                <tr>
                    <th>Known Apo datasets</th>
                    <td>{{known_apo}} datasets</td>                    
                </tr>
                <tr hidden>
                    <th>Protein sequence</th>
                    <td><a href="/static/userDataFiles/hCAII.fasta"> hCAII.fasta</a></td>                    
                </tr>
                <tr hidden>
                    <th>Protein model</th>
                    <td><a href="/static/userDataFiles/hCAII.pdb"> hCAII.pdb</a></td>                    
                </tr>
                <tr>
                    <th>Fragment Libraries</th>
                    <td>{{fraglib}}</td>                    
                </tr>
                <tr>
                    <th>Experiment date</th>
                    <td>{{exp_date}}</td>
                    
                </tr>
                
                </tr>
                
            </tbody></table>
        </div>
    </div>
{% endblock %}

