{% extends 'fragview/base.html' %}

{% comment %}

The page for modifying existing projects and creating new
projects.

The rendered HTML is slightly different between the 'create new project'
and 'modify existing project' cases.

If the 'project_id' variable is set when the template is rendered, the
'modify existing project' version will be generated. Otherwise you'll
get the 'create new project' version.

{% endcomment %}

{% block title %}FragMAX - Project Settings{% endblock %}
{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    text-align: center;
}

.container {
    padding-left: 200px;
    max-width: 1280 !important;
    width: calc(100% - 75px) !important;
}

.prechoice {
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
}

.err_msg {
    color: red;
}
</style>

<script>
function confirm_delete()
{
    return confirm("Are you sure you want to delete " +
        "'{{ form.protein.value }} - {{ form.library.value }}' project?");
}

$(document).ready(function()
{
    $("#delete_button").click(confirm_delete);
});
</script>

<h4>Project Settings</h4><br>

<div class="card">
    <div class="card-content">
        <div class="card-title">Set experiment definitions</div><br>
            <form id="project_form"
                  action="/project/{% if project_id %}{{ project_id }}/{% else %}new{% endif %}"
                  method="post">
                {% csrf_token %}
                <table class="table bordered">
                    <tbody>

                    <tr>
                        <th>Protein</th>
                        <td>
                            <input class="selectbox"
                                   name="protein"
                                   placeholder="Protein acronym"
                                   value="{{ form.protein.value }}"
                                   required/>
                            <div class="err_msg">{{ form.protein.errors }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Library</th>
                        <td>
                            <select style="display:block" id="library" name="library" required>
                                <option value="F2XEntry"
                                        {% if form.library.value == 'F2XEntry' %}selected{% endif %}>
                                    F2XEntry
                                </option>
                                <option value="JBS"
                                        {% if form.library.value == 'JBS' %}selected{% endif %}>
                                    JBS
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Proposal Number</th>
                        <td>
                            <input class="selectbox"
                                   name="proposal"
                                   placeholder="20180489"
                                   value="{{ form.proposal.value }}"
                                   required/>
                            <div class="err_msg">{{ form.proposal.errors }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Shift</th>
                        <td>
                            <input class="selectbox"
                                   name="shift"
                                   placeholder="20190127"
                                   value="{{ form.shift.value }}"
                                   required/>
                            <div class="err_msg">{{ form.shift.errors }}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Connected experiments</th>
                        <td>
                            <input class="selectbox"
                                   name="shift_list"
                                   placeholder="20190622,20190629"
                                   value="{{ form.shift_list.value }}"/>
                            <div class="err_msg">{{ form.shift_list.errors }}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="prechoice" >
                    <div style="padding-right: 0px;">
                        <button class="btn-large" type="submit" name="action" value="modify">
                            {% if project_id %}
                                update
                            {% else %}
                                create
                            {% endif %}
                        </button>
                    </div>

                    {% if project_id %}
                        <div style="padding-left: 40px;">
                            <button class="btn-large" id="delete_button" type="submit" name="action" value="delete">
                                delete
                            </button>
                        </div>
                    {% endif %}

                    <div style="padding-left: 40px;">
                        <button class="btn-large" type="button" onclick="location.href='/projects'">cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

