
{% extends 'fragview/base.html' %}

{% load static %}
{% block title %}FragMAX - Project Summary{% endblock %}
{% block content %}

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }
  th {
    text-align: center;

  }

  td, th {
    border: 1px solid #f0f0f0;
    padding: 8px;
      height: 60px;

  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }

  .container {
    padding-left: 250px;
    max-width: 1280 !important;
    width: calc(100% - 75px) !important;
}
</style>
<h4>Project Summary</h4>
        

<div class="card">
        <div class="card-content">
            
            <div class="card-title">Proposal name: Fragment screening of {{project.protein}}</div><br>
            <table class="table bordered">
                <tbody>
                <tr>
                    <th>Proposal Number</th>
                    <td>{{project.proposal}}</td>
                </tr>
                <tr>
                    <th>Shift</th>
                    <td>{{project.shift}}</td>
                </tr>
                <tr>
                    <th>Related Data Collections</th>
                    <td>
                        {% for shift in project.shifts %}
                            {{shift}}<br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Protein</th>
                    <td>{{project.protein}}</td>
                </tr>
                <tr>
                    <th>Datasets collected (combined)</th>
                    <td>{{num_dataset}} ({{totaldata}}) datasets</td>                    
                </tr>
                <tr>
                    <th>Known Apo datasets (combined)</th>
                    <td>{{known_apo}} ({{totalapo}}) datasets</td>                    
                </tr>
                <tr>
                    <th>Fragment Libraries</th>
                    <td>{{fraglib}}</td>                    
                </tr>
                <tr>
                    <th>Experiment date</th>
                    <td>{{exp_date}}</td>
                </tr>
                {% if project.encrypted %}
                    <tr>
                        <th>Data Processing</th>
                        <td>Encrypted Mode</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

