
{% extends 'fragview/base.html' %}

{% load static %}
{% block title %}FragMAX - Settings{% endblock %}

{% block content %}

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }
  th {
    text-align: center;

  }
  .container {
    padding-left: 200px;
    max-width: 1280 !important;
    width: calc(100% - 75px) !important;
}
  .prechoice{
    padding-top: 20px;
    display: flex;    
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
  }
</style>
<h4>Project Settings</h4>
        





<div class="card">
        <div class="card-content">
            
            <div class="card-title">Set experiment definitions</div><br>
            Status: {{upd}}
            <form action="/settings/" method="get" id="updatedefinitionsBtn" name="updatedefinitionsBtn" size="1" >
                <table class="table bordered">                
                    <tbody>
                        <tr>
                            <th>Proposal Number</th>
                            <td><input class="selectbox" name="proposal" placeholder="20180489" required></input></td>                    
                        </tr>
                        <tr>
                            <th>Shift</th>
                            <td><input class="selectbox" name="shift" placeholder="20190127" required></input></td>                    
                            
                        </tr>
                        <tr>
                            <th>Protein</th>
                            <td><input class="selectbox" name="acronym" placeholder="Protein acronym" required></input></td>                    
                        </tr>
                        <tr>
                            <th>User type</th>
                            <td><input class="selectbox" name="exptype" placeholder="visitors" required></input></td>                    
                        </tr>
                        <tr>
                            <th>Connected experiments</th>
                            <td><input class="selectbox" name="shiftList" placeholder="20190622,20190629" required></input></td>                    
                        </tr>
                        <tr>
                            <th>Library</th>
                            {% comment %} <td><input class="selectbox" name="exptype" placeholder="visitors"></input></td>    {% endcomment %}
                            <td>
                                <select style="display:block" id="library" name="library" required>
                                    <option disabled selected value> -- select a library -- </option>                                                        
                                    <option value="F2XEntry">F2XEntry</option>    
                                    <option value="JBS">JBS</option>    
                                    
                                </select>             
                            </td>
                        </tr>                       
                    </tbody>
                </table>                
                <button class="btn-large" type="submit" onsubmit="return update_experiment()" value="NoneUpdate" name="updatedefinitions" size="1" style="margin-top: 20px;">Update definitions</button>
            </form>
            
            <div class="prechoice" >            
                <form action="/settings/" method="get" id="updatedefinitionsBtn" name="updatedefinitionsBtn" size="1" >
                    <button class="btn-large" type="submit" onsubmit="return update_experiment()" value=";20180489;20190127;hCAII;visitors;JBS;20190127" name="updatedefinitions" size="1">hCAII: 20180489/20190127</button>
                </form>  
                <form action="/settings/" method="get" id="updatedefinitionsBtn" name="updatedefinitionsBtn" size="1" style="padding-left: 20px;">
                    <button class="btn-large" type="submit" onsubmit="return update_experiment()" value=";20180479;20190323;ProteinaseK;visitors;JBS;20190323" name="updatedefinitions" size="1">PrtK: 20180479/20190323</button>
                </form>  
            </div>
            <div class="prechoice" >            
                <form action="/settings/" method="get" id="updatedefinitionsBtn" name="updatedefinitionsBtn" size="1" >
                    <button class="btn-large" type="submit" onsubmit="return update_experiment()" value=";20180479;20190330;EPF2XEntry;visitors;F2XEntry;20190330" name="updatedefinitions" size="1">EP: 20180479/20190330</button>
                </form>
                <form action="/settings/" method="get" id="updatedefinitionsBtn" name="updatedefinitionsBtn" size="1" style="padding-left: 20px;">
                    <button class="btn-large" type="submit" onsubmit="return update_experiment()" value=";20180479;20190622;EP;visitors;F2XEntry;20190622" name="updatedefinitions" size="1">EP: 20180479/20190622</button>
                </form>
                <form action="/settings/" method="get" id="updatedefinitionsBtn" name="updatedefinitionsBtn" size="1" style="padding-left: 20px;">
                    <button class="btn-large" type="submit" onsubmit="return update_experiment()" value=";20180479;20190622;AR;visitors;F2XEntry;20190622,20190629" name="updatedefinitions" size="1">AR: 20180479/20190622</button>
                </form>
                <form action="/settings/" method="get" id="updatedefinitionsBtn" name="updatedefinitionsBtn" size="1" style="padding-left: 20px;">
                    <button class="btn-large" type="submit" onsubmit="return update_experiment()" value=";20180479;20190629;AR;visitors;F2XEntry;20190622,20190629" name="updatedefinitions" size="1">AR: 20180479/20190629</button>
                </form>
            </div>            
        </div>
    </div>

<script>

var f = document.getElementById("updatedefinitionsBtn");
    
    f.onsubmit = function update_experiment() {
        var proposal = ";proposal:"+document.getElementsByName("proposal")[0].value;
        var shift    = ";shift:"+document.getElementsByName("shift")[0].value;
        var acronym  = ";acronym:"+document.getElementsByName("acronym")[0].value;
        var usertype = ";usertype:"+document.getElementsByName("exptype")[0].value;
        var shiftList= ";shiftList:"+document.getElementsByName("shiftList")[0].value;
        var library  = ";library:"+document.getElementById("library").value
        var newsettings = proposal+shift+acronym+usertype+library+shiftList
        document.getElementsByName("updatedefinitions")[0].value = newsettings
    }



</script>
{% endblock %}

