{% extends 'fragview/base.html' %}

{% block title %}FragMAX - Encryption{% endblock %}
{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    text-align: center;
}

.container {
    padding-left: 200px;
    max-width: 1180 !important;
    width: calc(100% - 75px) !important;
}

.prechoice {
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
}

.row_caption {
    display:block;
    margin: 12px 0 12px 100px;
}
</style>

<h4>Project's Encryption</h4><br>

<br>

<div class="card">
    <div class="card-content">
            <form id="project_form" enctype="multipart/form-data" action="/encryption/key/upload/" method="post">
                {% csrf_token %}
                <table class="table bordered">
                    <tbody>

                    <tr>
                        <th>
                            <span class="row_caption">Encryption Key</span>
                        </th>
                        <td>
                            <input type="file" name="key" required>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="prechoice">
                    <div>
                        <button class="btn-large" type="submit">
                            upload key
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

