#
# We want to have this 'empty' directory when
# repo is cloned, so that we can run 'manage.py migrate'
# without creating this 'db' directory manually.
#
# This .gitignore provides this 'empty' directory on checkout.
#
*
# Except this file
!.gitignore
