{% extends 'fragview/base.html' %}

{% load static %}

{% block title %}FragMAX - Log in{% endblock %}

{% block sidenav %}{% endblock %}

{% block content %}

<style>
.center
{
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.text-head
{
    position: absolute;
    bottom: 20px;
    left: 300px;
}
td, th
{
    padding: 5px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    font-size: 12px;
    font-size: 0.85vw;
}
.top-options {
    font-size: 15px !important;
}
.flex-center {
    margin-left:10px;
    max-width:750px;
    width: 60%
}

.content
{
    margin: auto !important;
    max-width: 100% !important;
    width: 100% !important;
}

.card_options
{
    padding-left: 310px  !important;

    max-width: calc(100% - 50px)  !important;
    {% comment %} min-width: 1600px; {% endcomment %}
}

.flexdiv_options
{
    display: flex;
    padding-left: 40px;
}

.selectbox
{
    display: flex !important;
}

.optionstable
{
    border-collapse: separate;
    border-spacing: 0;
}

.bottom-right
{
    right: 30;
    bottom: 20;
    position: absolute;
}

.maxivorange
{
    background-color: #fea901;
}

.card-title
{
    display:inline-flex !important;
}

.alert
{
    color: red;
}
</style>

<div style="padding-left:200px">
    <img src="{% static 'img/logo.svg' %}" class="center"/>
<div>

<div>

    <h6 style="padding-left:310px;">Login with your DUO account.</h6>

    {# display login error message, if any #}
    {% if form.errors %}
        <h6 style="padding-left:310px;">
            {% for error in form.non_field_errors %}
                <div class="alert"><strong>{{ error|escape }}</strong></div>
            {% endfor %}
        </h6>
    {% endif %}

</div>

<form class="card_options" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    <div class="flexdiv_options card">

        <div class="flex-center">
            <div class="card-content card-content-center">
                <table class="optionstable" >
                    <col width="10%">
                    <col width="90%">
                    <tbody>
                        <tr>
                            <th class=" top-options">Username</th>
                            <td class=" top-options">
                                <label>
                                    <input class="selectbox" id="id_username" name="username"
                                        {% if form.username.value is not None %}
                                            value="{{ form.username.value }}"
                                        {% endif %}
                                    />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th class=" top-options">Password</th>
                            <td class=" top-options">
                                <label>
                                    <input class="selectbox" id="id_password" name="password" type="password"
                                        {% if form.password.value is not None %}
                                            value="{{ form.password.value }}"
                                        {% endif %}
                                    />
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="bottom-right">
            <button class="btn-large maxivorange" type="submit" size="1">Login</button>
        </div>

    </div>
</form>

{% endblock %}
