{% extends 'base.html' %}
{% block title %}Analyse with PanDDA{% endblock %}
{% block content %}

<script src="/static/js/vue-3.2.32.global.prod.js"></script>
<script src="/static/js/utils.js"></script>

<script>
const CSRF_TOKEN = "{{csrf_token}}";

class ToolsCombo
{
    constructor(proc, refine, uiLabel)
    {
        this.proc = proc;
        this.refine = refine;
        this.uiLabel = uiLabel;
    }
}

const DATASET_COMBOS = [
    {% for combo in dataset_combos %}
        new ToolsCombo("{{combo.proc}}", "{{combo.refine}}", "{{combo.ui_label}}"),
    {% endfor %}
];
</script>

<style>
.container
{
    margin: 0 50px 50px 300px !important;
    max-width: 100% !important;
    width: calc(100% - 350px) !important;
}

/* Style the tab */
.tab
{
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button
{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.selectbox
{
   display: flex !important;
   width: 200px;
}
</style>

{% verbatim %}
<div id="app">

    <h4>Analyse with PanDDA</h4>

    <div class="card tab">
        <button class="tablinks">
            Datasets
        </button>
    </div>

    <div class="card">
        <div class="card-content">
            <div v-if="selectedCombo">
                <div class="card-title">
                    Processed with:
                </div>
                <div>
                    <select v-model="selectedCombo" class="selectbox">
                        <option v-for="combo in datasetCombos" :value=combo>
                            {{combo.uiLabel}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- selectedCombo is null when project does not have any refined datasets -->
            <div v-else>
                No refined datasets available.
            </div>
        </div>
    </div>

    <button @click="analyseDatasets" class="btn" :disabled="!valid">
        Analyse Datasets
    </button>

</div>

<script>
function startPandda(proc, refine, requestFinishedCB)
{
    let headers = {
        "Content-Type": "application/json",
        "X-CSRFToken" : CSRF_TOKEN,
    };

    let body = {
        proc: proc,
        refine: refine,
    };

    fetch("/datasets/pandda",
    {
        method: "POST",
        headers: headers,
        body: JSON.stringify(body),
    })
    .then(function(response)
    {
        if (!response.ok)
        {
            response.text().then(text => alert(text));
        }
        else
        {
            window.open("/jobs/status", "_blank");
        }
        requestFinishedCB();
    })
    .catch(function(error)
    {
        alert(error.message);
        requestFinishedCB();
    });

}

function createVueApp()
{
return Vue.createApp({
    data() {
        defaultCombo = this.combosAvailable() ? DATASET_COMBOS[0] : null;
        return {
            datasetCombos: DATASET_COMBOS,
            selectedCombo: defaultCombo,
            requestInProgress: false,
        };
    },
    computed: {
        valid()
        {
            return this.combosAvailable() && !this.requestInProgress;
        },
    },
    methods: {
        combosAvailable()
        {
            return DATASET_COMBOS.length > 0;
        },
        analyseDatasets()
        {
            this.requestInProgress = true;
            startPandda(this.selectedCombo.proc, this.selectedCombo.refine,
                        () => this.requestInProgress = false);
        },
    },
});
}

createVueApp().mount('#app');
</script>

{% endverbatim %}
{% endblock %}
