{% extends 'base.html' %}
{% block title %}Process Datasets{% endblock %}
{% block content %}
<script src="/static/js/vue-3.2.32.global.prod.js"></script>
<script src="/static/js/utils.js"></script>

<script>
class Dataset
{
    constructor(id, crystal, run, dials_result, xds_result,
                xdsapp_result, autoproc_result, edna_result)
    {
        this.selected = false;
        this.id = id;
        this.crystal = crystal;
        this.run = run;
        this.dials_result = NoneToNull(dials_result);
        this.xds_result = NoneToNull(xds_result);
        this.xdsapp_result = NoneToNull(xdsapp_result);
        this.autoproc_result = NoneToNull(autoproc_result);
        this.edna_result = NoneToNull(edna_result);
    }

    processed()
    {
        if (this.dials_result ||
            this.xds_result ||
            this.xdsapp_result ||
            this.autoproc_result ||
            this.edna_result)
        {
            return true;
        }

        return false;
    }

    name()
    {
        return `${this.crystal} (${this.run})`;
    }
}

class Tool
{
    constructor(id, name)
    {
        this.selected = false;
        this.id = id;
        this.name = name;
    }
}

const CSRF_TOKEN = "{{csrf_token}}";

const DATASETS = [
    {% for dataset in datasets %}
        new Dataset("{{dataset.id}}",
                    "{{dataset.crystal}}",
                    {{dataset.run}},
                    "{{dataset.dials_result}}",
                    "{{dataset.xds_result}}",
                    "{{dataset.xdsapp_result}}",
                    "{{dataset.autoproc_result}}",
                    "{{dataset.edna_result}}"),
    {% endfor %}
];

const TOOLS = [
    {% if "xia2_dials" in pipelines %}
        new Tool("dials", "XIA2/DIALS"),
    {% endif %}
    {% if "xia2_xds" in pipelines %}
        new Tool("xds", "XIA2/XDS"),
    {% endif %}
    {% if "xdsapp" in pipelines %}
        new Tool("xdsapp", "XDSAPP"),
    {% endif %}
];

const SPACE_GROUP_SYSTEMS = [
    {% for space_groups in space_group_systems %}
        [
            {% for space_group in space_groups %}
                "{{space_group.short_name}}",
            {% endfor %}
        ],
    {% endfor %}
];

</script>

<style>
.container
{
    margin: 0 50px 50px 300px !important;
    max-width: 100% !important;
    width: calc(100% - 350px) !important;
}

/* Style the tab */
.tab
{
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button
{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Create an active/current tablink class */
.tab button.active
{
    background-color: #fea901;
}

.pipelines
{
   margin-top: 16px;
}

.pipeline-options
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr;

    grid-gap: 10px 12px;

    align-items: center;
    margin-top: 12px;

    font-weight: bold;
}

.ok
{
    color: #82be00;
    font-size: large;
}

.error
{
    color: #f44336;
    font-size: large;
}

/* The Modal (background) */
.modal-dialog
{
    position: fixed;                      /* Stay in place */
    z-index: 2;                           /* Sit on top */
    padding-top: 8px;
    /* Location of the box */
    max-height: 100%;
    left: 250px;
    top: 0;
    width: calc(100% - 200px);
    height: 100%;                         /* Full height */
    overflow: auto;                       /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);       /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-cont
{
    margin: auto;
    display: block;
    max-width: 800px;
    width: 80%;
    background-color: white;
}

.modal-header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;
}

.modal-item
{
    flex: 0 0 auto;
    margin: 13px;
}

.space-grp-button
{
    height: 36px;
    width: 128px;
}

.btn-right
{
    float: right;
    margin-bottom: 24px;
}

.spacegroup-section
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: auto;
    align-content: start;
    margin: 8px;
}

.cell-cont
{
    display: flex;
    justify-content: center;
}

.cell-section
{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr;
    width: 280px;
}

.cell-label
{
    text-align: right;
}

.proc-res
{
    display: flex;
    align-items: baseline;
}

.tool-name
{
    font-size: small;
    padding: 6px;
}

.cust-params
{
    display: grid;
    grid-template-columns: 160px 280px;
    align-items: center;
    padding-left: 36px;
}
</style>

<div>
    <h4>Process Datasets</h4>
</div>

{% verbatim %}

<div id="app">
    <!-- The 'Select Space Group' Modal -->
    <div v-if="ui.spaceGroupsVisible" class="modal-dialog">
        <div class="modal-cont">
            <div class="modal-header" style="background: WhiteSmoke">
                <h5 class="modal-item">Select Space Group</h5>
            </div>
            <div v-for="spaceGroups in ui.spaceGroupSystems" class="spacegroup-section">
                <button v-for="spaceGroup in spaceGroups"
                        @click="setSpaceGroup(spaceGroup)"
                        class="btn-small modal-item"
                        style="width: 90px; margin: 10px;">
                    {{spaceGroup}}
                </button>
            </div>
            <div class="modal-header" style="background: WhiteSmoke">
                <button @click="setSpaceGroup(null)"
                        class="btn-large modal-item">
                    Auto
                </button>
                <button @click="hideSpaceGroups" class="btn-large modal-item">
                    Cancel
                </button>
            </div>
        </div>
    </div>

    <!-- The 'Cell Parameters' Modal -->
    <div v-if="ui.cellParamsDialog" class="modal-dialog">
        <div class="modal-cont">
            <div class="modal-header" style="background: WhiteSmoke">
                <h5 class="modal-item">Enter Cell Parameters</h5>
            </div>
            <div class="cell-cont">
                <div class="cell-section">
                    <div class="cell-label">
                        a
                    </div>
                    <div>
                        <input v-model="ui.cellParamsDialog.a"/>
                    </div>
                    <div class="cell-label">
                        b
                    </div>
                    <div>
                        <input v-model="ui.cellParamsDialog.b"/>
                    </div>
                    <div class="cell-label">
                        c
                    </div>
                    <div>
                        <input v-model="ui.cellParamsDialog.c"/>
                    </div>
                    <div class="cell-label">
                        α
                    </div>
                    <div>
                        <input v-model="ui.cellParamsDialog.alpha"/>
                    </div>
                    <div class="cell-label">
                        β
                    </div>
                    <div>
                        <input v-model="ui.cellParamsDialog.beta"/>
                    </div>
                    <div class="cell-label">
                        γ
                    </div>
                    <div>
                        <input v-model="ui.cellParamsDialog.gamma"/>
                    </div>
                </div>
            </div>
            <div class="modal-header" style="background: WhiteSmoke">
                <button :disabled="!cellParamsDialogValid"
                        @click="saveCellParams"
                        class="btn-large modal-item">
                    OK
                </button>
                <button @click="saveAutoCellParams" class="btn-large modal-item">
                    Auto
                </button>
                <button @click="cancelCellParamsDialog" class="btn-large modal-item">
                    Cancel
                </button>
            </div>
        </div>
    </div>

    <div class="card tab">
        <button @click="toggleDatasets" class="tablinks">
            <i class="material-icons right">
                {{datasetsListArrowStyle}}
            </i>
            Datasets
        </button>
    </div>

    <div v-if="!ui.datasetsListShown" class="card">
        <div class="card-content">
            {{selectedDatasetsSummary}}
        </div>
    </div>

    <div v-if="ui.datasetsListShown" class="card">
        <div class="card-content">
            <div class="card-title">
                <button @click="selectUnprocessedDatasets" class="btn-small btn-right">
                    select unprocessed
                </button>
            </div>
            <table id="datasets">
                <thead>
                    <tr>
                        <th>
                            <label>
                                <input v-model="allDatasetSelected"
                                       class="filled-in dt-checkboxes"
                                       type="checkbox"/>
                                <span></span>
                            </label>
                        </th>
                        <th>Crystal</th>
                        <th>Run</th>
                        <th>Processing</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="dataset in datasets">
                        <td>
                            <label>
                                <input v-model="dataset.selected"
                                       class="filled-in dt-checkboxes"
                                       type="checkbox"/>
                                <span></span>
                            </label>
                        </td>
                        <td>{{dataset.crystal}}</td>
                        <td>{{dataset.run}}</td>
                        <td>
                            <div align="left" style="white-space: nowrap; display: flex">
                                <div v-if="dataset.dials_result" class="proc-res">
                                    <div :class="dataset.dials_result">&#9679;</div>
                                    <div class="tool-name">XIA2/DIALS</div>
                                </div>
                                <div v-if="dataset.xds_result" class="proc-res">
                                    <div :class="dataset.xds_result">&#9679;</div>
                                    <div class="tool-name">XIA2/XDS</div>
                                </div>
                                <div v-if="dataset.xdsapp_result" class="proc-res">
                                    <div :class="dataset.xdsapp_result">&#9679;</div>
                                    <div class="tool-name">XDSAPP</div>
                                </div>
                                <div v-if="dataset.autoproc_result" class="proc-res">
                                    <div :class="dataset.autoproc_result">&#9679;</div>
                                    <div class="tool-name">autoPROC</div>
                                </div>
                                <div v-if="dataset.edna_result" class="proc-res">
                                    <div :class="dataset.edna_result">&#9679;</div>
                                    <div class="tool-name">EDNA_proc</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card tab">
        <button>Data Processing</button>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="card-title">
                Process datasets with:
            </div>
            <div class="pipelines">
                <div v-for="tool in tools">
                    <div class="checkbox">
                        <label>
                            <input v-model="tool.selected"
                                   class="processform filled-in dt-checkboxes"
                                   type="checkbox"/>
                            <span>{{tool.name}}</span>
                        </label>
                    </div>
                    <div v-if="tool.selected" class="cust-params">
                        Custom parameters
                        <input v-model="tool.customParams"/>
                    </div>
                </div>
            </div>

            <div class="pipeline-options">
                <div>Space group</div>
                <div>
                    <button class="btn-small space-grp-button"
                            @click="showSpaceGroups"
                            type="button">
                        {{spaceGroupName}}
                    </button>
                </div>
                <div>Cell parameters</div>
                <div>
                    <button class="btn-small space-grp-button"
                            @click="openCellParamsDialog"
                            type="button">
                        {{cellParamsText}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <button @click="processDatasets" class="btn" :disabled="!valid">
        Process Datasets
    </button>
</div>


<script>
function postJobs(datasets, tools, spaceGroup, cellParams, requestFinishedCB)
{
    function getSelectedDatasetsIds()
    {
        function *getIds()
        {
            for (const dataset of datasets)
            {
                yield dataset.id;
            }
        }

        return Array.from(getIds());
    }

    function getSelectedTools()
    {
        function *get()
        {
            for (const tool of tools)
            {
                toolObj = {id: tool.id};
                if (tool.customParams != "")
                {
                    toolObj["customParams"] = tool.customParams;
                }

                yield toolObj;
            }
        }

        return Array.from(get());
    }

    let headers = {
        "Content-Type": "application/json",
        "X-CSRFToken" : CSRF_TOKEN
    };

    let body = {
        datasets: getSelectedDatasetsIds(),
        tools: getSelectedTools(),
    };

    /* include space group if specified */
    if (spaceGroup)
    {
        body["spaceGroup"] = spaceGroup;
    }

    /* include cell parameters if specified */
    if (cellParams)
    {
        body["cellParams"] = cellParams;
    }

    fetch("/datasets/process",
    {
        method: "POST",
        headers: headers,
        body: JSON.stringify(body),
    })
    .then(function(response)
    {
        if (!response.ok)
        {
            response.text().then(text => alert(text));
        }
        else
        {
            window.open("/jobs/status", "_blank");
        }
        requestFinishedCB();
    })
    .catch(function(error)
    {
        alert(error.message);
        requestFinishedCB();
    });

}


function createVueApp()
{
return Vue.createApp({
    data() {
        return {
            datasets: DATASETS,
            tools: TOOLS,
            spaceGroup: null, /* null is Auto */
            cellParams: null, /* null is Auto */
            ui: {
                spaceGroupSystems: SPACE_GROUP_SYSTEMS,
                spaceGroupsVisible: false,
                cellParamsDialog: null,
                datasetsListShown: false,
                requestInProgress: false,
            },
            allDatasetSelected: false,
        };
    },
    computed: {
        datasetsListArrowStyle()
        {
            if (this.ui.datasetsListShown)
            {
                return "arrow_drop_up";
            }
            return "arrow_drop_down";
        },
        selectedDatasetsSummary()
        {
            const dsets = Array.from(this.getSelectedDatasets());
            if (dsets.length == 0)
            {
                return "(no datasets selected)";
            }

            let text = "";
            for (const i of dsets)
            {
                if (text.length > 86)
                {
                    /* truncate selected datasets text */
                    text += `... (${dsets.length} datasets selected).`;
                    break;
                }

                text += `${i.name()} `;
            }
            return text;
        },
        valid()
        {
            return !isEmpty(this.getSelectedDatasets()) &&
                !isEmpty(this.getSelectedTools()) &&
                !this.ui.requestInProgress;
        },
        spaceGroupName()
        {
            if (this.spaceGroup == null)
            {
                return "auto";
            }
            return this.spaceGroup;
        },
        cellParamsText()
        {
            if (this.cellParams == null)
            {
                return "auto";
            }

            const p = this.cellParams;
            return `${p.a},${p.b},${p.c},${p.alpha},${p.beta},${p.gamma}`;
        },
        cellParamsDialogValid()
        {
            function validParam(param)
            {
                if (param == "")
                {
                    return false;
                }

                return !isNaN(Number(param));
            }

            const params = this.ui.cellParamsDialog;

            return validParam(params.a) &&
                validParam(params.b) &&
                validParam(params.c) &&
                validParam(params.alpha) &&
                validParam(params.beta) &&
                validParam(params.gamma);
        },
    },
    watch: {
        allDatasetSelected()
        {
            for (dataset of this.datasets)
            {
                dataset.selected = this.allDatasetSelected;
            }
        },
    },
    methods: {
        *getSelectedDatasets()
        {
            for (const dataset of this.datasets)
            {
                if (dataset.selected)
                {
                    yield dataset;
                }
            }
        },
        *getSelectedTools()
        {
            for (const tool of this.tools)
            {
                if (tool.selected)
                {
                    yield tool;
                }
            }
        },
        toggleDatasets()
        {
            this.ui.datasetsListShown = !this.ui.datasetsListShown;
        },
        selectUnprocessedDatasets()
        {
            for (const dataset of this.datasets)
            {
                if (!dataset.processed())
                {
                    dataset.selected = true;
                }
            }
        },
        showSpaceGroups()
        {
            this.ui.spaceGroupsVisible = true;
        },
        hideSpaceGroups()
        {
            this.ui.spaceGroupsVisible = false;
        },
        setSpaceGroup(spaceGroup)
        {
            this.spaceGroup = spaceGroup;
            this.hideSpaceGroups();
        },
        openCellParamsDialog()
        {
            console.log("openCellParamsDialog", this.cellParams);

            if (this.cellParams != null)
            {
                this.ui.cellParamsDialog = {
                    a: this.cellParams.a,
                    b: this.cellParams.b,
                    c: this.cellParams.c,
                    alpha: this.cellParams.alpha,
                    beta: this.cellParams.beta,
                    gamma: this.cellParams.gamma,
                };
                return;
            }

            this.ui.cellParamsDialog = {
                a: "",
                b: "",
                c: "",
                alpha: "",
                beta: "",
                gamma: "",
            };
        },
        cancelCellParamsDialog()
        {
            this.ui.cellParamsDialog = null;
        },
        saveAutoCellParams()
        {
            this.cellParams = null;
            this.ui.cellParamsDialog = null;
        },
        saveCellParams()
        {
            const params = this.ui.cellParamsDialog;
            this.cellParams = {
                a: Number(params.a),
                b: Number(params.b),
                c: Number(params.c),
                alpha: Number(params.alpha),
                beta: Number(params.beta),
                gamma: Number(params.gamma),
            };
            this.ui.cellParamsDialog = null;
        },
        processDatasets()
        {
            this.ui.requestInProgress = true;
            postJobs(this.getSelectedDatasets(), this.getSelectedTools(),
                     this.spaceGroup, this.cellParams,
                     () => this.ui.requestInProgress = false);
        },
    },
});
}

createVueApp().mount('#app');
</script>


{% endverbatim %}
{% endblock %}
