{% extends 'base.html' %}
{% block title %}Fit Ligands{% endblock %}
{% block content %}
<script src="/static/js/vue-3.2.32.global.prod.js"></script>
<script src="/static/js/utils.js"></script>
<script>
class RefineResult
{
    constructor(id, crystal, is_apo, run, pipelines, rhofit_result, ligandfit_result)
    {
        this.selected = false;
        this.id = id;
        this.crystal = crystal;
        this.is_apo = (is_apo == "True");  /* convert from 'python boolean as string' to javascript boolean */
        this.run = run;
        this.pipelines = pipelines;
        this.rhofit_result = NoneToNull(rhofit_result);
        this.ligandfit_result = NoneToNull(ligandfit_result);
    }

    name()
    {
        return `${this.crystal} (${this.run})`;
    }
}

class Tool
{
    constructor(id, name)
    {
        this.id = id;
        this.name = name;
        this.selected = false;
    }
}

const CSRF_TOKEN = "{{csrf_token}}";

const REFINE_RESULTS =
[
    {% for res in refine_results %}
        new RefineResult(
            {{res.id}},
            "{{res.crystal.id}}",
            "{{res.crystal.is_apo}}",
            "{{res.dataset.run}}",
            "{{res.process_tool}}/{{res.refine_tool}}",
            "{{res.rhofit_result}}",
            "{{res.ligandfit_result}}"),
    {% endfor %}
];

const TOOLS = [
    {% if "rhofit" in pipelines %}
        new Tool("rhofit", "RhoFit"),
    {% endif %}
    {% if "ligandfit" in pipelines %}
        new Tool("ligandfit", "LigandFit"),
    {% endif %}
];

const RESTRAINS_TOOL_NAMES = {
    acedrg: "AceDRG",
    grade: "GRADE",
    elbow: "eLBOW",
};

const DEFAULT_RESTRAINS_TOOL = "{{default_ligand_tool}}";

const RESTRAINS_TOOLS = [
    {% for rtool in ligand_tools %}
        new Tool("{{rtool}}",
                 RESTRAINS_TOOL_NAMES["{{rtool}}"]),
    {% endfor %}
];

</script>

<style>
.container
{
    margin: 0 50px 50px 300px !important;
    max-width: 100% !important;
    width: calc(100% - 350px) !important;
}

/* Style the tab */
.tab
{
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button
{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.pipelines
{
   margin-top: 16px;
   margin-bottom: 12px;
}

.unselectable_dataset
{
    font-style: italic;
    color: grey;
}

.proc-res
{
    display: flex;
    align-items: baseline;
}

.tool-name
{
    font-size: small;
    padding: 6px;
}

.ok
{
    color: #82be00;
}

.error
{
    color: #f44336;
}
</style>

<div>
    <h4>Fit Ligands</h4>
</div>

{% verbatim %}

<div id="app">
    <div class="card tab">
        <button @click="toggleDatasets" class="tablinks">
            <i class="material-icons right">
                {{datasetsListArrowStyle}}
            </i>
            Datasets
        </button>
    </div>

    <div v-if="!ui.datasetsListShown" class="card">
        <div class="card-content">
            {{selectedDatasetsSummary}}
        </div>
    </div>

    <div v-if="ui.datasetsListShown" class="card">
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>
                            <label>
                                <input v-model="allDatasetSelected"
                                       class="filled-in dt-checkboxes"
                                       type="checkbox"/>
                                <span></span>
                            </label>
                        </th>
                        <th>Crystal</th>
                        <th>Run</th>
                        <th>Pipelines</th>
                        <th>Ligand Fitted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="dataset in datasets"
                        :class="{unselectable_dataset: dataset.is_apo}"
                        :title="datasetTitle(dataset)"
                    >
                        <td>
                            <label>
                                <input v-model="dataset.selected"
                                       class="filled-in dt-checkboxes"
                                       type="checkbox"
                                       :disabled="dataset.is_apo"
                                />
                                <span></span>
                            </label>
                        </td>
                        <td>{{dataset.crystal}}</td>
                        <td>{{dataset.run}}</td>
                        <td>{{dataset.pipelines}}</td>
                        <td>
                            <div align="left" style="white-space: nowrap; display: flex">
                                <div v-if="dataset.rhofit_result" class="proc-res">
                                    <div :class="dataset.rhofit_result">&#9679;</div>
                                    <div class="tool-name">RhoFit</div>
                                </div>
                                <div v-if="dataset.ligandfit_result" class="proc-res">
                                    <div :class="dataset.ligandfit_result">&#9679;</div>
                                    <div class="tool-name">LigandFit</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card tab">
        <button>Ligand Fitting</button>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="card-title">
                Fit ligands with:
            </div>

            <div class="pipelines">
                <div v-for="tool in tools">
                    <div class="checkbox">
                        <label>
                            <input v-model="tool.selected"
                                   class="processform filled-in dt-checkboxes"
                                   type="checkbox"/>
                            <span>{{tool.name}}</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="card-title">
                Generate restrains with:
            </div>

            <div class="pipelines">
                <div v-for="tool in restrains_tools">
                    <label>
                        <input :checked="tool.id == selected_restrains_tool"
                               name="restrainsTool"
                               type="radio"
                               @click="restrains_tool_changed(tool.id)"/>
                        <span>{{tool.name}}</span>
                    </label>
                </div>
            </div>

        </div>
    </div>


    <button @click="fitLigands" class="btn" :disabled="!valid">
        Fit Ligands
    </button>
</div>

<script>
function postJobs(datasets, tools, restrains_tool, requestFinishedCB)
{
    function getSelectedDatasetsIds()
    {
        function *getIds()
        {
            for (const dataset of datasets)
            {
                yield dataset.id;
            }
        }

        return Array.from(getIds());
    }

    function getSelectedTools()
    {
        function *get()
        {
            for (const tool of tools)
            {
                yield {id: tool.id};
            }
        }

        return Array.from(get());
    }

    let headers = {
        "Content-Type": "application/json",
        "X-CSRFToken" : CSRF_TOKEN,
    };

    let body = {
        datasets: getSelectedDatasetsIds(),
        tools: getSelectedTools(),
        restrains_tool: restrains_tool,
    };

    fetch("/datasets/ligfit",
    {
        method: "POST",
        headers: headers,
        body: JSON.stringify(body),
    })
    .then(function(response)
    {
        if (!response.ok)
        {
            response.text().then(text => alert(text));
        }
        else
        {
            window.open("/jobs/status", "_blank");
        }
        requestFinishedCB();
    })
    .catch(function(error)
    {
        alert(error.message);
        requestFinishedCB();
    });
}

function createVueApp()
{
return Vue.createApp({
    data() {
        return {
            datasets: REFINE_RESULTS,
            tools: TOOLS,
            restrains_tools: RESTRAINS_TOOLS,
            selected_restrains_tool: DEFAULT_RESTRAINS_TOOL,
            ui: {
                datasetsListShown: false,
                requestInProgress: false,
            },
            allDatasetSelected: false,
        };
    },
    computed: {
        datasetsListArrowStyle()
        {
            if (this.ui.datasetsListShown)
            {
                return "arrow_drop_up";
            }
            return "arrow_drop_down";
        },
        selectedDatasetsSummary()
        {
            const dsets = Array.from(this.getSelectedDatasets());
            if (dsets.length == 0)
            {
                return "(no datasets selected)";
            }

            let text = "";
            for (const i of dsets)
            {
                if (text.length > 86)
                {
                    /* truncate selected datasets text */
                    text += `... (${dsets.length} datasets selected).`;
                    break;
                }

                text += `${i.name()} `;
            }
            return text;

        },
        valid()
        {
            return !isEmpty(this.getSelectedDatasets()) &&
                !isEmpty(this.getSelectedTools()) &&
                !this.ui.requestInProgress;

        },
    },
    watch: {
        allDatasetSelected()
        {
            for (dataset of this.datasets)
            {
                if (dataset.is_apo)
                {
                    continue;
                }
                dataset.selected = this.allDatasetSelected;
            }
        },
    },
    methods: {
        restrains_tool_changed(tool_id)
        {
            this.selected_restrains_tool = tool_id;
        },
        datasetTitle(dataset)
        {
            if (dataset.is_apo)
            {
                return "can't fit ligand to an APO crystal";
            }
            return null;
        },
        *getSelectedDatasets()
        {
            for (const dataset of this.datasets)
            {
                if (dataset.selected)
                {
                    yield dataset;
                }
            }
        },
        *getSelectedTools()
        {
            for (const tool of this.tools)
            {
                if (tool.selected)
                {
                    yield tool;
                }
            }
        },
        toggleDatasets()
        {
            this.ui.datasetsListShown = !this.ui.datasetsListShown;
        },
        fitLigands()
        {
            this.ui.requestInProgress = true;
            postJobs(this.getSelectedDatasets(),
                     this.getSelectedTools(),
                     this.selected_restrains_tool,
                     () => this.ui.requestInProgress = false);
        },
    },
});
}

createVueApp().mount('#app');
</script>

{% endverbatim %}

{% endblock %}
