{% extends 'base.html' %}
{% block title %}FragMAX - Fragments{% endblock %}
{% block content %}
<style>
.container
{
    margin: 0 50px 50px 300px !important;
    max-width: 100% !important;
    width: calc(100% - 350px) !important;
}

th
{
    cursor: pointer;
    text-align: center;
}

td, th
{
    border: 1px solid #f0f0f0;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even)
{
    background-color: #dddddd;
}

.btn-right
{
    float: right;
    margin-bottom: 24px;
}
</style>

<div>
    <h4>Crystals</h4>
</div>

<div class="card">
    <div class="card-content">
        <div class="card-title">
            <button class="btn btn-right" onclick="location.href='/crystals/new'">Import Crystals</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Crystal</th>
                    <th>Datasets</th>
                    <th>Library</th>
                    <th>Fragment Code</th>
                </tr>
            </thead>
            <tbody>
            {% for crystal in crystals %}
                <tr>
                    <td>{{crystal.id}}</td>
                    <td>{{crystal.datasets_num}}</td>
                    <td>
                        {% if crystal.fragment_library %}
                            {{crystal.fragment_library}}
                        {% endif %}
                    </td>
                    <td>
                        {% if crystal.fragment_code %}
                            {{crystal.fragment_code}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
