{% extends 'base.html' %}
{% block title %}Download{% endblock %}
{% block content %}
<style>
table {
    font-family: arial, sans-serif;
}
.container {
    padding-left: 200px;
    max-width: 1180 !important;
    width: calc(100% - 75px) !important;
}
.prechoice {
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
}
.inline_msg {
    font-family: arial, sans-serif;
    font-size: medium;
    white-space: nowrap;
    padding-top: 22px;
    margin-right: 20px;
}
.flex_box {
    display: flex;
}
</style>

<script>

function pandda_dirs_checked()
{
   /* check if any PanDDa analysis checkbox are checked */
   let enable_download = false;
   $("#pandda_form input:checkbox").each(function()
   {
       if (this.checked == true) {
          enable_download = true;
       }
   });

   /* disable PanDDa download button if nothing is selected */
   $("#pandda_download").prop("disabled", !enable_download);
}

$(document).ready(function ()
{
    $("#pandda_form input:checkbox").click(pandda_dirs_checked);
    pandda_dirs_checked();
});

</script>

<h4>Download Results</h4><br>

<div class="card">
    <div class="card-content">
        <div class="card-title">PanDDa Analysis</div><br>
            <form id="pandda_form" action="pandda" method="post">
                {% csrf_token %}
                {% if pandda_dirs %}
                <table class="table bordered">
                    <tbody>
                        {% for name in pandda_dirs %}
                            <tr>
                                <td style="width:20px">
                                    <label>
                                        <input class="filled-in dt-checkboxes" name="{{name}}" type="checkbox">
                                        <span/>
                                    </label>
                                </td>
                                <td>{{name}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    No PanDDa analysis results available.
                {% endif %}
                <div class="prechoice">
                    <div>
                        <input class="btn-large" id="pandda_download" type="submit" value="download" disabled/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

