{% extends 'base.html' %}
{% block title %}Encryption{% endblock %}
{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    text-align: center;
}

.container {
    padding-left: 200px;
    max-width: 1180 !important;
    width: calc(100% - 75px) !important;
}

.prechoice {
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
}

</style>

<script>
function confirm_forget()
{
   return confirm(
       "Are you sure you want to forget the key?\n" +
       "You'll need to re-upload the key in the future\n" +
       "to continue working with this project.");
}

$(document).ready(function()
{
    $("#forget_button").click(confirm_forget);
});
</script>

<h4>Project's Encryption</h4><br>
<br>
<div class="card">
    <div class="card-content">
            <form id="project_form" action="/encryption/key/forget/" method="post">
                {% csrf_token %}
                <table class="table bordered">
                    <tbody>

                    <tr>
                        <th>Encryption Key</th>
                        <td>
                            <span>
                                <a href="/encryption/key/" download>Download</a>
                            </span>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="prechoice" >
                    <div>
                        <button class="btn-large" id="forget_button" type="submit">
                            forget key
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

