{% extends 'base.html' %}
{% block title %}Error{% endblock %}
{% block content %}



<style>

  .container {
    padding-left: 200px;
    max-width: 1280 !important;
    width: calc(100% - 75px) !important;
  }
    .btn-right {
            float:right !important;
  }
</style>
<h4>Error :(</h4>



<div class="card">
        <div class="card-content">
            

            <h5>Oops, looks like you ran into some trouble:</h5>
            {{issue}}

            
        </div>
    </div>

{% endblock %}