{% extends 'base.html' %}
{% block title %}HPC Status{% endblock %}
{% block content %}


<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

  }

  th {
    text-align: center;

  }

  td,
  th {
    border: 1px solid #f0f0f0;
    padding: 8px;
    height: 60px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }


  th {
    cursor: pointer;
  }

  .container {
    padding-left: 250px;
    max-width: 1440 !important;
    width: calc(100% - 75px) !important;
  }

  .btn-right {
    float: right !important;
  }

  button.link {
    font-family: "Verdana"sans-serif;
    font-size: 1.1em;
    text-align: left;
    color: #039be5;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
  }
</style>

<h4>Jobs Status</h4>

<div class="card" style="min-width: 1020px;">
  <div class="card-content">
    <div class="card-title">
      <a href="/jobs/history" target="_blank">Job History</a>
    </div>
    <br>
    <table class="table bordered">
      <thead>
        <tr>
          <th>NAME</th>
          <th>TIME</th>
          <th>Output file</th>
          <th>Error file</th>
          <th>Kill Job</th>
          <th>
            <label style="padding-top: 10px; padding-left: 20px">
              <input class="filled-in dt-checkboxes" id="select_all" type="checkbox">
              <span/>
            </label>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}

        <tr>
          <td>{{job.name}}</td>
          <td>
            {% with t=job.run_time %}
              {% if t %}
                {{t.hours}}:{{t.minutes|stringformat:"02d"}}:{{t.seconds|stringformat:"02d"}}
              {% else %}
                (pending)
              {% endif %}
            {% endwith %}
          </td>
          <td>
            <a href="/logs/show/{{job.stdout}}" target="blank">
              {{job.stdout}}
            </a>
          </td>
          <td>
            <a href="/logs/show/{{job.stderr}}" target="blank">
              {{job.stderr}}
            </a>
          </td>
          <td>
            <form action="/hpc/kill/" method="post">
              {% csrf_token %}
              <button class="btn-small" type="submit" value="{{job.id}}" name="job_ids" size="1">Kill</button>
            </form>
          </td>
          <td>
            <label style="padding-top: 10px; padding-left: 20px">
              <input class="filled-in dt-checkboxes job-chbx" id="selecttokill" name="jobselect" type="checkbox"
                value="{{job.id}}">
              <span for="checkALLdatasets"> </span>
            </label>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="display: flow-root;margin-top: 20px;">
      <form action="/hpc/kill/" method="post" id="kill_selected">
        {% csrf_token %}
        <button class="btn btn-right" name="job_ids" id="kill_selected_btn" type="submit" size="1">
          Kill Selected
        </button>
      </form>

    </div>
  </div>
</div>

<script>
  function kill_selected()
  {
    let job_ids = [];

    /* create list of all selected jobs to kill */
    $(".job-chbx").each(function() {
      const chbox = $(this);
      if (chbox.prop("checked")) {
        job_ids.push(chbox.val());
      }
    });

    $("#kill_selected_btn").val(job_ids);
  }

  function select_all_changed()
  {
    /*
     * when 'select all' checkbox is checked,
     * check all other checkboxes, if it's unchecked
     * uncheck them
     */
    const checked = $(this).prop("checked");

    $(".job-chbx").each(function() {
      $(this).prop("checked", checked);
    });
  }

  $(document).ready(function () {
    $("#select_all").change(select_all_changed);
    $("#kill_selected").submit(kill_selected);

  });
</script>
{% endblock %}
