{% extends 'base.html' %}
{% block title %}FragMAX - Report{% endblock %}
{% block content %}
<style>
  body {
    overflow: visible
  }

  .content {
    overflow: visible !important;
    margin-left: 250px !important;
  }

  .full-page {
    width: 179%;
    margin: 1%;
  }
</style>

<div>

  <object id="html-content" type="text/html" data="{{html_url}}" class="full-page">
  </object>
</div>
<div>

  <script>
    var w = window.innerWidth;

    document.getElementById("html-content").style.height = w + "px"
    console.log(w)
  </script>
</div>

{% endblock %}