{% extends 'base.html' %}
{% load static %}
{% block title %}Project Summary{% endblock %}
{% block content %}
<style>
table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th
{
  text-align: center;
}

td, th
{
  padding: 8px;
  height: 60px;
}

tr:nth-child(even)
{
  background-color: #e2e2e2;
}

.container
{
  padding-left: 250px;
  max-width: 1280 !important;
  width: calc(100% - 75px) !important;
}

</style>
<h4>Project {{project.name}}</h4>

<div class="card">
    <div class="card-content">
        <table class="table">
            <tbody>
                <tr>
                    <th>Protein</th>
                    <td>{{project.protein}}</td>
                </tr>
                <tr>
                    <th>Proposal Number</th>
                    <td>{{project.proposal}}</td>
                </tr>
                <tr>
                    <th>Crystals</th>
                    <td>{{project.get_crystals.count}}</td>
                </tr>
                <tr>
                    <th>Data sets</th>
                    <td>{{project.get_datasets.count}}</td>
                </tr>
                <tr>
                    <th>Fragment Libraries</th>
                    <td>
                        {% for library in libraries %}
                        <div>{{library.name}}</div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Collection Dates</th>
                    <td>
                        {% with dates=project.get_data_collection_dates %}
                            {% if dates %}
                                <div>{{dates.0|date:"Y-m-d"}}</div>
                                <div>{{dates.1|date:"Y-m-d"}}</div>
                            {% else %}
                                <div>(no datasets)</div>
                            {% endif %}
                        {% endwith %}
                    </td>
                </tr>
                {% if project.encrypted %}
                    <tr>
                        <th>Data Processing</th>
                        <td>Encrypted Mode</td>
                    </tr>
                {% endif %}
                </tbody>
        </table>
    </div>
</div>

{% endblock %}

