{% extends 'base.html' %}
{% block title %}FragMAX - Projects{% endblock %}
{% block content %}

<style>

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    text-align: center;
}

td, th {
    border: 1px solid #f0f0f0;
    padding: 8px;
    height: 60px;
    text-align: center;
}

tr {
    background-color: #e2e2e2;
}

.container {
    padding-left: 250px;
    max-width: 1240 !important;
    width: calc(100% - 75px) !important;
}

.btn-right {
    float:right !important;
}

.project-desc {
    display: table;
}

.project-elm {
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
}

.project-icon
{
    border-radius: 50%;
    width: 48px;
}
</style>
<script>
function show_delete_error(error_message)
{
    alert(`Failed to delete: ${error_message}`);
}

function delete_project(project_id, project_name)
{
    let doit = confirm(`Are you sure you want\n` +
                       `to delete '${project_name}' project?`);
    if (!doit)
    {
        /* user canceled delete request, bail out */
        return;
    }

    fetch(`/project/${project_id}`,
        {
            method: "DELETE",
            headers: new Headers({"X-CSRFToken": "{{csrf_token}}"}),
        })
    .then(function(response)
    {
        if (!response.ok)
        {
            response.text().then(text => show_delete_error(text));
            return;
        }
        /* project successfully deleted, refresh projects listing */
        document.location.reload(true);
    })
    .catch(function(error)
    {
        show_delete_error(error.message);
    });
}
</script>
<h4>FragMAX Projects</h4><br>

<div class="card">
    <div class="card-content">
        <div class="card-title">
            {{user}}'s project(s)
            <button class="btn btn-right" onclick="location.href='/project/new'">New Project</button>
        </div>

        <br>

        <table class="table bordered">
            <thead>
                <tr style="background-color: white;">
                    <th>Project</th>
                    <th>Fragment Libraries</th>
                    <th>Collection Dates</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

            {% for proj in project_entries %}
            <tr>
                <td>
                    <div class="project-elm">
                        <img class="project-icon" src="/static/projIcons/{{proj.icon_num}}.svg">
                    </div>
                    <div class="project-elm">{{ proj.protein }} ({{proj.proposal}})</div>
                </td>
                <td>
                    {% for library in proj.get_libraries %}
                    <div>{{library.name}}</div>
                    {% endfor %}
                </td>
                <td>
                    {% with dates=proj.get_data_collection_dates %}
                        {% if dates %}
                            <div>{{dates.0|date:"Y-m-d"}}</div>
                            <div>{{dates.1|date:"Y-m-d"}}</div>
                        {% else %}
                            <div>(no datasets)</div>
                        {% endif %}
                    {% endwith %}
                </td>
                <td>
                    <button class="btn" size="1"
                            onclick="delete_project({{proj.id}}, '{{proj.name}}')">
                    delete
                    </button>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        {% if failed_projects %}
            <br/>
            <table class="table bordered">
                <thead>
                    <tr style="background-color: white;">
                        <th colspan="3">Failed to Create</th>
                    </tr>
                </thead>
                <tbody>
                {% for proj in failed_projects %}
                <tr>
                    <td>
                        <div class="project-elm">{{proj.name}}: {{proj.error_message}}</div>
                    </td>
                    <td>
                        <button class="btn" size="1"
                                onclick="delete_project({{proj.project.id}}, '{{proj.name}}')">
                        delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if pending_projects %}
            <br/>
            <table class="table bordered">
                <thead>
                    <tr style="background-color: white;">
                        <th colspan="3">Setting up Project(s)</th>
                    </tr>
                </thead>

                <tbody>
                {% for proj in pending_projects %}
                <tr>
                    <td>
                        <div class="project-elm">{{proj.name}}</div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
  </div>
</div>

{% endblock %}