{% extends 'base.html' %}
{% block title %}New Project{% endblock %}
{% block content %}

<script src="/static/js/vue-3.2.32.global.prod.js"></script>
<script src="/static/js/utils.js"></script>

<script>
const CSRF_TOKEN = "{{csrf_token}}";

const PROPOSALS = [
    {% for prop in proposals %}
        "{{prop}}",
    {% endfor %}
];

const PROPOSALS_ENABLED = "{{disabled.proposals}}" != "True";
const AUTOPROC_IMPORT_ENABLED = "{{disabled.autoproc_import}}" != "True";

</script>

<style>
.container
{
    margin: 0 50px 50px 300px !important;
    max-width: 100% !important;
    width: calc(100% - 350px) !important;
}

.tab
{
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button
{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Create an active/current tablink class */
.tab button.active
{
    background-color: #82be00;
}

/* Create an active/current tablink class */
.tab button.active
{
    background-color: #fea901;
}

.data-tab
{
    max-width: 750px;
    width: 60%;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.protein-name
{
    max-width: 200px;
}

.libs-tab
{
    width: 880px;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.selectbox
{
    display: flex !important;
    width: 200px;
}

.sequence-box
{
    height: 180px;
}

.btn-right
{
    float: right;
}

.hidden
{
    display: none;
}

.buttons
{
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
}
</style>

<div>
    <h4>Create New Project</h4>
</div>

{% verbatim %}

<div id="app">
    <div>
        <div id="tab" class="card tab">
            <button v-for="tab in ui.tabs" @click="showTab(`${tab}`)"
                    :class="{ active: isActiveTab(tab) }">
                {{ tab }}
            </button>
        </div>
    </div>

    <div :class="{ hidden: !isActiveTab('Data')}">
        <div class="card data-tab">
            <div class="card-content">
                <div class="card-title">
                    Project's Collected Data
                </div>

                <table>
                    <tr>
                        <td>Protein Name</td>
                        <td>
                            <input v-model="project.protein" class="protein-name"/>
                        </td>
                    </tr>

                    <tr v-if="ui.proposalsEnabled">
                        <td>Project Proposal</td>
                        <td>
                            <input v-model="project.proposal"
                                   class="selectbox"
                                   maxlength="8"
                                   list="proposals"
                                   style="max-width: 200px"
                                   name="proposal"
                                   id="proposal"
                                   required>
                            <datalist id="proposals">
                                <option v-for="prop in ui.proposals">
                                    {{prop}}
                                </option>
                            </datalist>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="https://github.com/FragMAX/FragMAXapp/wiki/csv_spec"
                               target="_blank">
                                Crystals CSV
                            </a>
                        </td>
                        <td>
                            <input
                                v-on:change="setCrystalsCSV"
                                type="file" name="crystals_csv_file" required>
                        </td>
                    </tr>

                    <tr v-if="ui.autoprocImportEnabled">
                        <td>Auto Processing</td>
                        <td>
                            <div class="checkbox">
                            <label>
                                <input v-model="project.importAutoproc"
                                       name="autoproc"
                                       type="checkbox"
                                       class="filled-in dt-checkboxes"
                                       checked>
                                <span>Import Results</span>
                            </label>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div :class="{ hidden: !isActiveTab('Fragments')}">
        <div class="card libs-tab">
            <div class="card-content">
                <div class="card-title">
                    Custom Fragment Libraries
                </div>

                <table>
                    <tr v-for="entry in libraries">
                        <td>Library Name</td>
                        <td><input v-model="entry.item.name"/></td>
                        <td>
                            <a href="https://github.com/FragMAX/FragMAXapp/wiki/fraglib_spec"
                               target="_blank">
                                Fragments CSV
                            </a>
                        </td>
                        <td>
                            <input v-on:change="(e) => setFragsCSV(entry.id, e)" type="file">
                        </td>
                        <td>
                            <button @click="deleteLibrary(entry.id)" class="btn-small">
                                delete
                            </button>
                        </td>
                    </tr>
                </table>

                <div style="padding: 10px">
                <button @click="addLibrary" id="addAuthorButton" class="btn-small">
                    add library
                </button>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <div style="padding-right: 0px;">
            <button @click="createProject" :disabled="!valid" class="btn-large">
                create
            </button>
        </div>

        <div style="padding-left: 40px;">
            <button class="btn-large" type="button" onclick="location.href='/projects'">
                cancel
            </button>
        </div>
    </div>
</div>

<script>
const ids = new IDs();

function postData(project)
{
    const data = new FormData();

    data.append("csrfmiddlewaretoken", CSRF_TOKEN);
    data.append("protein", project.protein);
    data.append("proposal", project.proposal);
    data.append("autoproc", project.importAutoproc);
    data.append("crystals", project.crystalsCSV);

    /* append all custom fragment libraries */
    let cntr = 0;
    for (const library of project.libraries)
    {
        data.append(`fragsCSV${cntr}`, library.fragsCSV);
        data.append(`fragsName${cntr}`, library.name);
        cntr += 1;
    }

    return fetch("/project/new",
    {
        method: "POST",
        body: data,
    })
    .then(function(response)
    {
        return response.text().then(function(text)
        {
            if (!response.ok)
            {
                alert(`error creating project:\n${text}`);
                return;
            }
            window.location.href = "/projects";
        });
    })
    .catch(function(error)
    {
        alert(error.message);
    });

}

function createVueApp()
{
return Vue.createApp({
    data() {
        return {
            project: {
                libraries: [],
            },
            ui: {
                activeTab: "Data",
                tabs: [ "Data", "Fragments" ],
                proposalsEnabled: PROPOSALS_ENABLED,
                proposals: PROPOSALS,
                autoprocImportEnabled: AUTOPROC_IMPORT_ENABLED,
            },
        };
    },
    computed: {
        libraries()
        {
            return wrapWithIds(this.project.libraries);
        },
        valid()
        {
            function is_valid_str(val)
            {
                return val !== undefined && val !== "";
            }

            function libs_valid(libraries)
            {
                for (const lib of libraries)
                {
                    if (!is_valid_str(lib.name) ||
                        lib.fragsCSV === undefined)
                    {
                        return false;
                    }
                }

                return true;
            }

            return is_valid_str(this.project.protein) &&
                is_valid_str(this.project.proposal) &&
                this.project.crystalsCSV !== undefined &&
                libs_valid(this.project.libraries);
        },
    },
    methods: {
        setCrystalsCSV(event)
        {
            this.project.crystalsCSV = event.target.files[0];
        },
        setFragsCSV(entryId, event)
        {
            /* find library by it's entry ID */
            function getLibrary(libraries)
            {
                for (const library of libraries)
                {
                    if (ids.getId(library) == entryId)
                    {
                        return library;
                    }
                }
            }
            const library = getLibrary(this.project.libraries);
            library.fragsCSV = event.target.files[0];
        },
        showTab(tabName)
        {
            this.ui.activeTab = tabName;
        },
        isActiveTab(tabName)
        {
            return this.ui.activeTab == tabName;
        },
        createProject()
        {
            postData(this.project);
        },
        addLibrary()
        {
            this.project.libraries.push({});
        },
        deleteLibrary(entryId)
        {
            this.project.libraries =
                this.project.libraries.filter(obj => ids.getId(obj) != entryId);
        },
    },
});
}

createVueApp().mount('#app');
</script>

{% endverbatim %}
{% endblock %}
